{%- comment -%}
  Parameters:
  - is_drawer {Boolean} - Is cart drawer.

  Usage:
  {% render 'cart-items', is_drawer: true %}
{%- endcomment -%}

{%- if cart != empty -%}
  <script src="{{ 'cart-items.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{%- liquid
  if is_drawer
    assign section_id = 'cart-drawer'
  else
    assign section_id = section.id
  endif
-%}

<cart-items id="cart-items" data-section="{{ section_id }}" data-empty="{% if cart == empty %}true{% else %}false{% endif %}">
  {%- if cart == empty -%}
    <div class="flex flex-col justify-center items-center h-full js-cart-empty">
      <p>{{ 'cart.general.empty' | t }}</p>

      {%- if settings.cart_empty_shop_link -%}
        <a class="btn btn--primary" href="{{ settings.cart_empty_shop_link }}">
          {{- 'cart.general.start_shopping' | t -}}
        </a>
      {%- endif -%}
    </div>
  {%- endif -%}

  {%- if cart != empty -%}
    <table class="cart-items w-full">
      <thead class="visually-hidden">
        <tr>
          <th colspan="2">{{ 'cart.items.product' | t }}</th>
          <th>{{ 'cart.items.price' | t }}</th>
          <th>{{ 'cart.items.quantity' | t }}</th>
        </tr>
      </thead>
      <tbody>
        {%- for item in cart.items -%}
          {%- liquid
            if item.variant.compare_at_price > item.variant.price
              assign variant_price_reduced = true
            else
              assign variant_price_reduced = false
            endif
          -%}
          <tr class="cart-item grid gap-x-6" id="cart-item-{{ item.index | plus: 1 }}" data-product-id="{{ item.product_id }}" data-variant-id="{{ item.variant_id }}">
            <td class="cart-item__image">
              <a href="{{ item.url }}" class="block {% if settings.blend_product_images %} image-blend{% endif %}">
                {%- if item.image -%}
                  {%- capture sizes -%}
                    {%- render 'sizes-attribute', min: '64px', sm: '128px', md: false, lg: false, xl: false, max: false -%}
                  {%- endcapture -%}
                  {{ item.image | image_url: width: 180 | image_tag: widths: '64, 128, 180', sizes: sizes, loading: 'lazy' }}
                {%- else -%}
                  <div class="media relative" style="padding-top: 100%;">
                    {{ 'image' | placeholder_svg_tag: 'media__placeholder img-fit' }}
                  </div>
                {%- endif -%}
              </a>
            </td>
            <td class="cart-item__details">
              {%- if section.settings.show_vendor and item.vendor != blank -%}
                <div class="text-theme-light text-sm mb-2">
                  {{ item.vendor }}
                </div>
              {%- endif -%}

              <a class="cart-item__title m-0 font-bold text-current js-item-name" href="{{ item.url }}">
                {{- item.product.title | escape -}}
              </a>

              <div class="cart-item__info">
                {%- if variant_price_reduced or item.original_line_price != item.final_line_price -%}
                  <dl class="m-0">
                    <dt class="visually-hidden">
                      {{- 'products.product.price.sale_price' | t -}}
                    </dt>
                    <span class="Bold-theme-hook-DO-NOT-DELETE bold_cart_item_price" data-item-key="{{item.key}}" style="display:none !important;"></span>
                    <dd class="price__current inline m-0 font-bold">
                      {{- item.final_price | money -}}
                    </dd>
                    <dt class="visually-hidden">
                      {{- 'products.product.price.regular_price' | t -}}
                    </dt>
                    <dd class="inline m-0">
                      {%- if variant_price_reduced -%}
                        <s class="price__was">{{ item.variant.compare_at_price | money }}</s>
                      {%- else -%}
                        <s class="price__was">{{ item.original_price | money }}</s>
                      {%- endif -%}
                    </dd>
                  </dl>
                {%- else -%}
                  <span class="Bold-theme-hook-DO-NOT-DELETE bold_cart_item_price" data-item-key="{{item.key}}" style="display:none !important;"></span>
                  <strong class="price__current">
                    {{- item.original_price | money -}}
                  </strong>
                {%- endif -%}

                {%- if item.variant.available and item.unit_price_measurement -%}
                  <div class="unit-price">
                    <span class="visually-hidden">{{ 'products.product.price.unit_price' | t }}</span>
                    <span class="unit-price__price">{{ item.variant.unit_price | money }}</span>
                    <span class="unit-price__separator">{{ 'products.product.price.unit_price_separator' | t }}</span>
                    <span class="unit-price__unit">
                      {%- if item.variant.unit_price_measurement.reference_value != 1 -%}
                        {{- item.variant.unit_price_measurement.reference_value -}}
                      {%- endif -%}
                      {{ item.variant.unit_price_measurement.reference_unit }}
                    </span>
                  </div>
                {%- endif -%}

                {%- if item.product.template_suffix contains 'preorder' -%}
                  <div class="mt-2">
                    <span class="product-label product-label--preorder">
                      {% if settings.preorder_label_icon != "none" %}
                        {% render 'icon', icon: settings.preorder_label_icon, width: 14, height: 14 %}
                      {% endif %}
                      {{- 'products.product.preorder' | t -}}
                    </span>
                  </div>
                {%- endif -%}

                {%- if item.product.has_only_default_variant == false or item.properties.size != 0 or item.selling_plan_allocation != nil -%}
                  <div class="cart-item__variants text-sm">
                    <dl class="mt-2 mb-0">
                      {%- if item.product.has_only_default_variant == false -%}
                        {%- for option in item.options_with_values -%}
                          <div>
                            <dt class="inline"><strong>{{ option.name }}: </strong></dt>
                            <dd class="inline m-0">{{ option.value }}</dd>
                          </div>
                        {%- endfor -%}
                      {%- endif -%}

                      {%- for property in item.properties -%}
                        {%- assign property_first_char = property.first | slice: 0 -%}
                        {%- if property.last != blank and property_first_char != '_' -%}
                          <div>
                            <dt class="inline"><strong>{{ property.first }}: </strong></dt>
                            <dd class="inline m-0">
                              {%- if property.last contains '/uploads/' -%}
                                <a href="{{ property.last }}" class="link" target="_blank">
                                  {{ property.last | split: '/' | last }}
                                </a>
                              {%- else -%}
                                {{ property.last }}
                              {%- endif -%}
                            </dd>
                          </div>
                        {%- endif -%}
                      {%- endfor -%}
                    </dl>

                    {%- if item.selling_plan_allocation != nil -%}
                      <p class="mt-2 mb-0">{{ item.selling_plan_allocation.selling_plan.name }}</p>
                    {%- endif -%}
                  </div>
                {%- endif -%}

                {%- if section.settings.show_backorder_text -%}
                  {% render 'backorder', product: item.product, variant: item.variant %}
                {%- endif -%}

                {%- if item.discounts.size > 0 -%}
                  <ul class="mt-3 mb-2 font-bold" role="list" aria-label="{{ 'customer.order.discount' | t }}">
                    {%- for discount in item.discounts -%}
                      <li class="mt-2">
                        <div class="discount text-sm inline-flex items-center">
                          {% render 'icon-tags' %} {{- discount.title | escape_once -}}
                        </div>
                      </li>
                    {%- endfor -%}
                  </ul>
                {%- endif -%}
              </div>
            </td>
            <td class="cart-item__qty">
              <div class="flex items-center mt-4">
                {% render 'quantity-input', is_cart: true, item: item, layout_style: 'combined' %}
                <a class="cart-item__remove btn btn--icon text-current tap-target js-remove-item" href="{{ item.url_to_remove }}" data-index="{{ item.index | plus: 1 }}" aria-label="{{- 'cart.items.remove' | t -}}"{% if settings.preload_links %} data-no-instant{% endif %}>
                  {% render 'icon-trash' %}
                </a>
                <div class="cart-item__loader relative is-loading" hidden></div>
              </div>
              <div class="alert mt-6 bg-error-bg text-error-text cart-item__error" id="line-item-error-{{ item.index | plus: 1 }}" role="alert" hidden></div>
            </td>
            <td class="cart-item__total price">
              <div class="text-theme-light text-sm mb-2 md:hidden">
                {{ 'cart.items.total' | t }}
              </div>
              {%- if variant_price_reduced or item.original_line_price != item.final_line_price -%}
                <dl class="m-0 flex md:block">
                  <dt class="visually-hidden">
                    {{- 'products.product.price.sale_price' | t -}}
                  </dt>
                  <span class="Bold-theme-hook-DO-NOT-DELETE bold_cart_item_total" data-item-key="{{item.key}}" style="display:none !important;"></span>
                  <dd class="price__current m-0 font-bold">
                    {{- item.final_line_price | money -}}
                  </dd>
                  <dt class="visually-hidden">
                    {{- 'products.product.price.regular_price' | t -}}
                  </dt>
                  <dd class="m-0">
                    {%- if variant_price_reduced -%}
                      <s class="price__was">{{ item.variant.compare_at_price | times: item.quantity | money }}</s>
                    {%- else -%}
                      <s class="price__was">{{ item.original_line_price | money }}</s>
                    {%- endif -%}
                  </dd>
                </dl>
              {%- else -%}
                <span class="Bold-theme-hook-DO-NOT-DELETE bold_cart_item_total" data-item-key="{{item.key}}" style="display:none !important;"></span>
                <strong class="price__current">
                  {{- item.original_line_price | money -}}
                </strong>
              {%- endif -%}
            </td>
          </tr>
        {%- endfor -%}
      </tbody>
    </table>
  {%- endif -%}

  <p class="visually-hidden" id="cart-live-region-text" role="status" aria-live="polite">
    {{ 'cart.summary.subtotal' | t }}: {{ cart.total_price | money_with_currency }}
  </p>
  <p class="visually-hidden" id="cart-line-item-status" role="status" aria-live="polite" aria-hidden="true">
    {{- 'accessibility.loading' | t -}}
  </p>

  {%- if is_drawer -%}
    <div class="alert mt-6 bg-error-bg text-error-text" id="cart-errors" role="alert" hidden></div>
  {%- endif -%}
</cart-items>
