<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>
  {%- if request.page_type == 'password' -%}
    {{- shop.name -}}
  {%- else -%}
    {{- page_title -}}
    {%- if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif -%}
    {%- if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif -%}
    {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
  {%- endif -%}
</title>

{%- if canonical_url != blank -%}
  <link rel="canonical" href="{{ canonical_url }}">
{%- endif -%}

{%- if settings.favicon != blank -%}
  {%- liquid
    assign image_type = settings.favicon | split: '?' | first | split: '.' | last | downcase
    if image_type == 'svg'
      assign image_type = 'svg+xml'
    endif
  -%}
  <link rel="icon" href="{{ settings.favicon | image_url: width: 48, height: 48 }}" type="image/{{ image_type }}">
{%- endif -%}

{%- if page_description -%}
  <meta name="description" content="{{ page_description | escape }}">
{%- endif -%}
