{% comment %}
  Parameters:
  - is_cart {Boolean} - Quantity input is in a cart items element (optional, default is false).
  - item {Object} - Cart line item (optional).
  - hide_label {Boolean} - Visually hide the label (optional, default is true).
  - layout_style {String} - Layout style. Default is 'joined' (optional).

  Usage:
  {% render 'quantity-input',
    layout_style: 'spaced',
    cart_item: item
  %}
{% endcomment %}

{%- liquid
  assign id = 'quantity-' | append: section.id
  if is_cart
    assign id = item.index | plus: 1 | prepend: 'quantity-'
  else
    assign is_cart = false
  endif

  unless hide_label == false
    assign hide_label = true
  endunless

  if layout_style == blank
    assign layout_style = 'joined'
  endif
-%}

<quantity-input class="inline-block">
  <label class="label{% if hide_label %} visually-hidden{% endif %}" for="{{ id }}">
    {{- 'products.product.qty' | t -}}
  </label>
  <div class="qty-input qty-input--{{ layout_style }} inline-flex items-center w-full">
    <button type="button" class="qty-input__btn btn btn--minus no-js-hidden" name="minus">
      <span class="visually-hidden">-</span>
    </button>
    <input type="number"
           class="qty-input__input input"
           {%- if is_cart %}
             id="{{ id }}"
             name="updates[]"
             min="0"
             value="{{ item.quantity }}"
             data-index="{{ item.index | plus: 1 }}"
             data-initial-value="{{ item.quantity }}"
             aria-label="{{ 'cart.items.quantity' | t }}"
           {%- else %}
             id="{{ id }}"
             name="quantity"
             min="1"
             value="1"
           {%- endif %}>
    <button type="button" class="qty-input__btn btn btn--plus no-js-hidden" name="plus">
      <span class="visually-hidden">+</span>
    </button>
  </div>
</quantity-input>
