<quick-add-drawer class="drawer quick-add-drawer{% if settings.quick_add_sticky_buttons %} overflow-hidden{% endif %} fixed top-0 right-0 flex flex-col w-full has-motion js-product" data-name="quickbuy" role="dialog" tabindex="-1" aria-labelledby="quick-add-heading" aria-modal="true" aria-hidden="true">
  <header class="drawer__header quick-add__header hidden md:flex justify-between items-center relative">
    <button type="button" class="drawer__back-btn js-open-cart-drawer has-ltr-icon" hidden>
      <span class="visually-hidden">{{ 'general.navigation.back' | t }}</span>
      {% render 'icon-arrow-left' %}
    </button>
    <div class="flex-grow">
      <h2 class="h5 mb-0" id="quick-add-heading">
        {{- 'products.product.choose_options' | t -}}
      </h2>
    </div>
    <button type="button" class="drawer__close-btn js-close-drawer">
      <span class="visually-hidden">{{ 'accessibility.close' | t }}</span>
      {% render 'icon-close' %}
    </button>
  </header>
  <div class="drawer__content quick-add__content flex-auto{% if settings.quick_add_sticky_buttons == false %} shrink-0{% endif %} relative">
    <button type="button" class="drawer__close-btn quick-add__close-btn--mob js-close-drawer md:hidden">
      <span class="visually-hidden">{{ 'accessibility.close' | t }}</span>
      {% render 'icon-close' %}
    </button>
    <div class="js-product-details quick-add__product-details"></div>
  </div>
  <footer class="drawer__footer quick-add__footer">
    <div class="alert quick-add__alert absolute left-0 right-0 bg-success-bg text-success-text js-added-to-cart" role="alert" hidden data-visible-for="2000">
      <div class="flex">
        <div>
          {% render 'icon', icon: 'check_mark_in_circle', width: 32, height: 32 %}
        </div>
        <div>
          <p class="quick-add__alert-heading text-h5 font-bold mb-1">{{ 'products.product.added_to_cart' | t }}</p>
          <a class="link text-current js-open-cart-drawer" href="{{ routes.cart_url }}"{% if settings.preload_links %} data-no-instant{% endif %}>{{ 'cart.general.view_cart' | t }}</a>
        </div>
      </div>
    </div>
    <product-form></product-form>
  </footer>
</quick-add-drawer>
