{%- liquid
  assign rtl = false
  assign rtl_iso_codes = 'ar,arc,dv,fa,ha,he,khw,ks,ku,ps,ur,yi' | split: ','
  assign current_code_first_part = localization.language.iso_code | split: '-' | first

  if rtl_iso_codes contains current_code_first_part
    assign rtl = true
  endif

  assign body_font_bold = settings.body_font | font_modify: 'weight', 'bolder'
  assign body_font_italic = settings.body_font | font_modify: 'style', 'italic'
  assign body_font_bold_italic = body_font_bold | font_modify: 'style', 'italic'

  # constants
  assign breakpoint_sm = 600
  assign breakpoint_md = 769
  assign gutter_sm = 20
  assign gutter_md = 32
  assign gutter_lg = 64
-%}

<!doctype html>
<html class="h-full no-js" lang="{{ request.locale.iso_code }}" dir="{% if rtl %}rtl{% else %}ltr{% endif %}">
<head>
  {%- render 'doc-head-core' -%}
  {%- render 'doc-head-social' -%}

  {%- style %}
    {{- settings.body_font | font_face: font_display: 'swap' -}}
    {{- body_font_bold | font_face: font_display: 'swap' -}}
    {{- body_font_italic | font_face: font_display: 'swap' -}}
    {{- body_font_bold_italic | font_face: font_display: 'swap' -}}
    {{- settings.heading_font | font_face: font_display: 'swap' -}}

    :root {
      --bg-color: {{ settings.bg_color.rgba }};
      --bg-color-og: {{ settings.bg_color.rgba }};
      --heading-color: {{ settings.heading_color.rgb }};
      --text-color: {{ settings.text_color.rgb }};
      --text-color-og: {{ settings.text_color.rgb }};
      --scrollbar-color: {{ settings.text_color.rgb }};
      --link-color: {{ settings.link_color.rgb }};
      --link-color-og: {{ settings.link_color.rgb }};
      --star-color: {{ settings.star_color.rgb }};

      {%- if settings.swatch_option_name != blank -%}
        {%- liquid
          assign swatch_border_color_default = settings.text_color | color_mix: settings.bg_color, 20
          assign swatch_border_color_active = settings.text_color | color_mix: settings.bg_color, 50
        -%}
        --swatch-border-color-default: {{ swatch_border_color_default.rgb }};
        --swatch-border-color-active: {{ swatch_border_color_active.rgb }};
      {%- endif -%}

      {%- assign color_scheme_1_btn_bg_hover = settings.color_scheme_1_btn_bg | color_mix: settings.color_scheme_1_btn_text, 85 | color_lighten: 3 -%}
      --color-scheme-1-bg: {{ settings.color_scheme_1_bg.rgba }};
      --color-scheme-1-grad: {{ settings.color_scheme_1_bg_grad }};
      --color-scheme-1-heading: {{ settings.color_scheme_1_heading.rgb }};
      --color-scheme-1-text: {{ settings.color_scheme_1_text.rgb }};
      --color-scheme-1-btn-bg: {{ settings.color_scheme_1_btn_bg.rgb }};
      --color-scheme-1-btn-text: {{ settings.color_scheme_1_btn_text.rgb }};
      --color-scheme-1-btn-bg-hover: {{ color_scheme_1_btn_bg_hover.rgb }};

      {%- assign color_scheme_2_btn_bg_hover = settings.color_scheme_2_btn_bg | color_mix: settings.color_scheme_2_btn_text, 85 | color_lighten: 3 -%}
      --color-scheme-2-bg: {{ settings.color_scheme_2_bg.rgba }};
      --color-scheme-2-grad: {{ settings.color_scheme_2_bg_grad }};
      --color-scheme-2-heading: {{ settings.color_scheme_2_heading.rgb }};
      --color-scheme-2-text: {{ settings.color_scheme_2_text.rgb }};
      --color-scheme-2-btn-bg: {{ settings.color_scheme_2_btn_bg.rgb }};
      --color-scheme-2-btn-text: {{ settings.color_scheme_2_btn_text.rgb }};
      --color-scheme-2-btn-bg-hover: {{ color_scheme_2_btn_bg_hover.rgb }};

      {%- assign color_scheme_3_btn_bg_hover = settings.color_scheme_3_btn_bg | color_mix: settings.color_scheme_3_btn_text, 85 | color_lighten: 3 -%}
      --color-scheme-3-bg: {{ settings.color_scheme_3_bg.rgba }};
      --color-scheme-3-grad: {{ settings.color_scheme_3_bg_grad }};
      --color-scheme-3-heading: {{ settings.color_scheme_3_heading.rgb }};
      --color-scheme-3-text: {{ settings.color_scheme_3_text.rgb }};
      --color-scheme-3-btn-bg: {{ settings.color_scheme_3_btn_bg.rgb }};
      --color-scheme-3-btn-text: {{ settings.color_scheme_3_btn_text.rgb }};
      --color-scheme-3-btn-bg-hover: {{ color_scheme_3_btn_bg_hover.rgb }};

      --drawer-bg-color: {{ settings.drawer_bg_color.rgba }};
      --drawer-text-color: {{ settings.drawer_text_color.rgb }};

      --panel-bg-color: {{ settings.panel_bg_color.rgba }};
      --panel-heading-color: {{ settings.panel_heading_color.rgb }};
      --panel-text-color: {{ settings.panel_text_color.rgb }};

      --in-stock-text-color: {{ settings.in_stock_text_color.rgb }};
      --low-stock-text-color: {{ settings.low_stock_text_color.rgb }};
      --very-low-stock-text-color: {{ settings.very_low_stock_text_color.rgb }};
      --no-stock-text-color: {{ settings.no_stock_text_color.rgb }};

      --error-bg-color: {{ settings.error_bg_color.rgb }};
      --error-text-color: {{ settings.error_text_color.rgb }};
      --success-bg-color: {{ settings.success_bg_color.rgb }};
      --success-text-color: {{ settings.success_text_color.rgb }};
      --info-bg-color: {{ settings.info_bg_color.rgb }};
      --info-text-color: {{ settings.info_text_color.rgb }};

      --heading-font-family: {{ settings.heading_font.family }}, {{ settings.heading_font.fallback_families }};
      --heading-font-style: {{ settings.heading_font.style }};
      --heading-font-weight: {{ settings.heading_font.weight }};
      --heading-scale-start: {{ settings.heading_scale_start }};
      {%- if settings.heading_uppercase %}
      --heading-text-transform: uppercase;
      {%- else -%}
      --heading-text-transform: none;
      {%- endif %}
      {%- if settings.subheading_uppercase %}
      --subheading-text-transform: uppercase;
      {%- else -%}
      --subheading-text-transform: none;
      {%- endif %}
      --body-font-family: {{ settings.body_font.family }}, {{ settings.body_font.fallback_families }};
      --body-font-style: {{ settings.body_font.style }};
      --body-font-weight: {{ settings.body_font.weight }};
      --body-font-size: {{ settings.body_font_size }};

      --section-gap: {{ settings.section_gap }};
      --heading-gap: calc(8 * var(--space-unit));
      {%- if settings.section_gap == '32' -%}
        --heading-gap: calc(6 * var(--space-unit));
      {%- endif -%}
      --grid-column-gap: 20px;

      {%- assign button_bg_color_hover = settings.button_bg_color | color_mix: settings.button_text_color, 85 | color_lighten: 3 -%}
      --btn-bg-color: {{ settings.button_bg_color.rgb }};
      --btn-bg-hover-color: {{ button_bg_color_hover.rgb }};
      --btn-text-color: {{ settings.button_text_color.rgb }};
      --btn-bg-color-og: {{ settings.button_bg_color.rgb }};
      --btn-text-color-og: {{ settings.button_text_color.rgb }};
      --btn-alt-bg-color: {{ settings.button_alt_bg_color.rgb }};
      --btn-alt-bg-alpha: {{ settings.button_alt_bg_color.alpha }};
      --btn-alt-text-color: {{ settings.button_alt_text_color.rgb }};
      --btn-border-width: {{ settings.input_button_border_width }}px;
      --btn-padding-y: 12px;

      {% if settings.input_button_border_radius > 1 %}
      --btn-border-radius: {{ settings.input_button_border_radius | plus: settings.input_button_border_width }}px;
      {% endif %}

      --btn-lg-border-radius: 50%;
      --btn-icon-border-radius: 50%;
      --input-with-btn-inner-radius: var(--btn-border-radius);

      {%- if settings.button_text_uppercase %}
      --btn-text-transform: uppercase;
      {%- endif %}

      --input-bg-color: {{ settings.bg_color.rgba }};
      --input-text-color: {{ settings.text_color.rgb }};
      --input-border-width: {{ settings.input_button_border_width }}px;
      --input-border-radius: {{ settings.input_button_border_radius }}px;
      --textarea-border-radius: {{ settings.input_button_border_radius | plus: 0 | at_most: 12 }}px;

      {%- if settings.input_button_border_radius > 1 %}
      --input-border-radius: {{ settings.input_button_border_radius | plus: settings.input_button_border_width }}px;
      {%- endif -%}

      {%- if settings.input_button_border_radius == 26 %}
      --input-lg-border-radius: {{ settings.input_button_border_radius | plus: settings.input_button_border_width | plus: 6 }}px;
      {%- endif -%}

      {%- assign input_color_brightness = settings.bg_color | color_brightness -%}
      {%- if input_color_brightness > 128 %}
      --input-bg-color-diff-3: {{ settings.bg_color | color_darken: 3 }};
      --input-bg-color-diff-6: {{ settings.bg_color | color_darken: 6 }};
      {%- else -%}
      --input-bg-color-diff-3: {{ settings.bg_color | color_lighten: 3 }};
      --input-bg-color-diff-6: {{ settings.bg_color | color_lighten: 6 }};
      {%- endif %}

      --modal-border-radius: {{ settings.drawer_border_radius }}px;
      --modal-overlay-color: 0 0 0;
      --modal-overlay-opacity: 0.4;
      --drawer-border-radius: {{ settings.drawer_border_radius }}px;
      --overlay-border-radius: {{ settings.overlay_border_radius }}px;

      {%- if settings.show_custom_label -%}
      --custom-label-bg-color: {{ settings.custom_label_bg_color.rgb }};
      --custom-label-text-color: {{ settings.custom_label_text_color.rgb }};
      {%- endif -%}
      {%- if settings.show_sale_label -%}
      --sale-label-bg-color: {{ settings.sale_label_bg_color.rgb }};
      --sale-label-text-color: {{ settings.sale_label_text_color.rgb }};
      {%- endif -%}
      {%- if settings.show_sold_out_label -%}
      --sold-out-label-bg-color: {{ settings.sold_out_label_bg_color.rgb }};
      --sold-out-label-text-color: {{ settings.sold_out_label_text_color.rgb }};
      {%- endif -%}
      {%- if settings.show_new_label -%}
      --new-label-bg-color: {{ settings.new_label_bg_color.rgb }};
      --new-label-text-color: {{ settings.new_label_text_color.rgb }};
      {%- endif -%}

      --preorder-label-bg-color: {{ settings.preorder_label_bg_color.rgb }};
      --preorder-label-text-color: {{ settings.preorder_label_text_color.rgb }};

      --page-width: {{ settings.max_page_width | default: 1320 }}px;
      --gutter-sm: {{ gutter_sm }}px;
      --gutter-md: {{ gutter_md }}px;
      --gutter-lg: {{ gutter_lg }}px;

      --payment-terms-bg-color: {{ settings.bg_color }};

      --coll-card-bg-color: {{ settings.coll_bg_color }};
      --coll-card-border-color: {{ settings.coll_border_color }};

      {%- if settings.card_contain -%}
      --card-bg-color: {{ settings.card_bg_color }};
      --card-text-color: {{ settings.card_text_color.rgb }};
      --card-border-color: {{ settings.card_border_color }};
      {%- endif -%}

      {%- if settings.blend_product_images or settings.blend_collection_images -%}
        --blend-bg-color: {{ settings.blend_bg_color }};
      {%- endif -%}

      {% if settings.animations_enabled != "disabled" %}
        {% if settings.animation_speed == "fast" %}
          --aos-animate-duration: 0.6s;
        {% elsif settings.animation_speed == "medium" %}
          --aos-animate-duration: 1s;
        {% elsif settings.animation_speed == "slow" %}
          --aos-animate-duration: 1.2s;
        {% endif %}

        {% if settings.animations_enabled == "desktop" %}
          --aos-min-width: {{ breakpoint_sm }};
        {% else %}
          --aos-min-width: 0;
        {% endif %}
      {% endif %}

      --reading-width: 48em;
    }

    @media (max-width: {{ breakpoint_md }}px) {
      :root {
        --reading-width: 36em;
      }
    }
  {% endstyle -%}

  <link rel="stylesheet" href="{{ 'main.css' | asset_url }}">
  <link rel="stylesheet" href="{{ 'password.css' | asset_url }}">
  <script src="{{ 'main.js' | asset_url }}" defer="defer"></script>

  {%- unless settings.body_font.system? -%}
    <link rel="preload" href="{{ settings.body_font | font_url }}" as="font" type="font/woff2" crossorigin fetchpriority="high">
  {%- endunless -%}

  {%- unless settings.heading_font.system? -%}
    <link rel="preload" href="{{ settings.heading_font | font_url }}" as="font" type="font/woff2" crossorigin fetchpriority="high">
  {%- endunless -%}

  {%- if settings.swatch_colors != blank -%}
    <link rel="stylesheet" href="{{ 'swatches.css' | asset_url }}" media="print" onload="this.media='all'">
    <noscript><link rel="stylesheet" href="{{ 'swatches.css' | asset_url }}"></noscript>
  {%- endif -%}

  {{ content_for_header }}

  {%- if request.design_mode -%}
    <script src="{{ 'theme-editor.js' | asset_url }}" defer="defer"></script>
  {%- endif -%}

  {%- if settings.show_blur_messages -%}
    <script src="{{ 'blur-messages.js' | asset_url }}" defer="defer"></script>
  {%- endif -%}

  {% if settings.animations_enabled != "disabled" %}
    <script src="{{ 'animate-on-scroll.js' | asset_url }}" defer="defer"></script>
    <link rel="stylesheet" href="{{ 'animate-on-scroll.css' | asset_url }}">
  {% endif %}

  <script>document.documentElement.className = document.documentElement.className.replace('no-js', 'js');</script>

  {%- if settings.custom_html_head -%}
    {{- settings.custom_html_head -}}
  {%- endif -%}
</head>

<body class="flex flex-col"{% if settings.animations_enabled != "disabled" %} class="cc-animate-enabled"{% endif %}>
  {%- section 'main-password-header' -%}

  <main class="password-main flex flex-col flex-auto justify-center">
    {{ content_for_layout }}
  </main>

  <footer class="password-footer text-center">
    <small>{{ 'templates.password.general.powered_by' | t }}</small>
    <a href="//www.shopify.com" target="_blank" rel="nofollow" rel="noopener" title="Create your own online store with Shopify">
      <svg class="shopify-logo" width="70" height="20" viewBox="0 0 150 43" aria-hidden="true" focusable="false" role="presentation">
        <path fill="currentColor" d="M33.3,8.9 C33.3,8.9 33.3,8.7 33.2,8.6 C33.1,8.5 33,8.5 33,8.5 L29.6,8.3 L27.5,6.2 C27.4,6.1 27.3,6.1 27.2,6.1 L25.4,42.2 L38,39.5 L33.3,8.9 Z M25.8,5.9 L24.9,6.2 C24.3,4.6 23.6,3.4 22.6,2.7 C21.9,2.2 21.1,2 20.3,2.1 C20.1,1.9 19.9,1.7 19.7,1.5 C18.8,0.8 17.6,0.6 16.1,1.2 C11.8,2.7 10,8.3 9.3,11 L5.5,12.1 C5.5,12.1 4.6,12.3 4.4,12.6 C4.2,12.9 4.1,13.6 4.1,13.6 L0.9,37.9 L24.5,42.3 L26.3,6 C26.1,5.8 25.9,5.9 25.8,5.9 Z M20.1,7.6 L16,8.9 C16.5,6.8 17.6,4.6 19.6,3.8 C20,4.8 20.1,6.3 20.1,7.6 Z M16.6,2.4 C17.5,2.1 18.2,2.1 18.7,2.4 C16,3.6 14.8,6.7 14.3,9.3 L11,10.3 C11.7,7.8 13.3,3.6 16.6,2.4 Z M18.9,20.3 C18.7,20.2 18.5,20.1 18.2,20 C17.9,19.9 17.7,19.8 17.4,19.7 C17.1,19.6 16.8,19.6 16.4,19.5 L15.3,19.5 C15,19.5 14.7,19.6 14.4,19.7 C14.1,19.8 13.9,19.9 13.7,20.1 C13.5,20.3 13.4,20.5 13.3,20.7 C13.2,20.9 13.1,21.2 13.1,21.4 C13.1,21.6 13.1,21.8 13.2,22 C13.3,22.2 13.4,22.4 13.5,22.6 C13.7,22.8 13.9,23 14.1,23.2 C14.3,23.4 14.6,23.6 14.9,23.8 C15.4,24.1 15.8,24.4 16.3,24.8 C16.8,25.2 17.2,25.6 17.5,26.1 C17.9,26.6 18.2,27.1 18.4,27.8 C18.6,28.4 18.7,29.1 18.7,29.9 C18.6,31.1 18.4,32.2 17.9,33.1 C17.5,34 16.8,34.7 16.1,35.2 C15.4,35.7 14.5,36 13.6,36.1 C12.7,36.2 11.7,36.2 10.8,35.9 C10.3,35.8 9.9,35.6 9.5,35.5 C9.1,35.3 8.7,35.1 8.3,34.9 C8,34.7 7.6,34.5 7.4,34.3 C7.1,34.1 6.9,33.9 6.7,33.6 L7.8,30 C8,30.2 8.2,30.3 8.5,30.5 C8.8,30.7 9.1,30.9 9.4,31 C9.7,31.2 10.1,31.3 10.4,31.5 C10.8,31.6 11.1,31.7 11.5,31.8 L12.3,31.8 C12.5,31.7 12.8,31.6 12.9,31.5 C13.1,31.4 13.2,31.2 13.3,31 C13.4,30.8 13.4,30.6 13.5,30.3 C13.5,30.1 13.5,29.8 13.4,29.6 C13.3,29.4 13.2,29.2 13.1,28.9 C13,28.7 12.8,28.5 12.5,28.2 C12.3,28 12,27.7 11.6,27.5 C11.2,27.2 10.8,26.9 10.4,26.5 C10.1,26.1 9.7,25.8 9.5,25.3 C9.3,24.9 9.1,24.4 8.9,23.9 C8.8,23.4 8.7,22.9 8.7,22.3 C8.7,21.3 8.9,20.5 9.3,19.7 C9.6,18.9 10.1,18.2 10.7,17.5 C11.3,16.9 12,16.3 12.9,15.9 C13.8,15.5 14.7,15.2 15.8,15 C16.3,14.9 16.8,14.9 17.2,14.9 C17.7,14.9 18.1,14.9 18.5,15 C18.9,15.1 19.3,15.1 19.6,15.2 C19.9,15.3 20.2,15.4 20.5,15.5 L18.9,20.3 Z M21.5,7.2 L21.5,6.7 C21.5,5.4 21.3,4.3 21,3.5 C21.3,3.5 21.6,3.6 21.9,3.8 C22.7,4.3 23.2,5.4 23.6,6.6 L21.5,7.2 Z"/>
        <path fill="currentColor" d="M45.3,29.6 C46.2,30.1 47.8,30.7 49.4,30.7 C50.8,30.7 51.6,29.9 51.6,29 C51.6,28.1 51.1,27.5 49.5,26.6 C47.6,25.5 46.2,24 46.2,22 C46.2,18.5 49.2,16 53.6,16 C55.5,16 57,16.4 57.8,16.8 L56.6,20.3 C55.9,20 54.8,19.6 53.5,19.6 C52.1,19.6 51.2,20.2 51.2,21.3 C51.2,22.1 51.9,22.7 53.1,23.3 C55.1,24.4 56.7,25.9 56.7,28 C56.7,32 53.5,34.2 49,34.1 C46.9,34.1 45,33.5 44.1,32.9 L45.3,29.6 Z M57.7,34.1 L62.6,8.9 L67.6,8.9 L65.7,18.7 L65.8,18.7 C67.1,17.1 68.9,16 71.1,16 C73.7,16 75.2,17.7 75.2,20.5 C75.2,21.4 75.1,22.7 74.8,23.8 L72.8,34.1 L67.8,34.1 L69.7,24.2 C69.8,23.5 69.9,22.7 69.9,22 C69.9,20.9 69.5,20.2 68.3,20.2 C66.7,20.2 65,22.2 64.3,25.5 L62.6,34.2 L57.7,34.2 L57.7,34.1 Z M93.3,23 C93.3,29.1 89.3,34.4 83.4,34.4 C78.9,34.4 76.5,31.3 76.5,27.5 C76.5,21.5 80.5,16.1 86.5,16.1 C91.2,16.1 93.3,19.4 93.3,23 Z M81.6,27.3 C81.6,29.1 82.3,30.5 84,30.5 C86.7,30.5 88.1,25.8 88.1,22.8 C88.1,21.3 87.5,19.8 85.7,19.8 C83.1,19.9 81.6,24.5 81.6,27.3 Z M92.1,41.1 L95.6,23 C96,21 96.4,18.3 96.6,16.4 L101,16.4 L100.7,19.2 L100.8,19.2 C102.1,17.3 104.1,16.2 106.1,16.2 C109.8,16.2 111.3,19.1 111.3,22.5 C111.3,28.5 107.4,34.6 101.6,34.6 C100.4,34.6 99.2,34.1 98.7,34.1 L98.6,34.1 L97.2,41.1 L92.1,41.1 Z M99.3,29.9 C99.8,30.3 100.5,30.6 101.4,30.6 C104.2,30.6 106.1,26 106.1,22.8 C106.1,21.5 105.6,20.1 104.1,20.1 C102.4,20.1 100.7,22.1 100.1,25.2 L99.3,29.9 Z M111.5,34.1 L114.9,16.4 L120,16.4 L116.6,34.1 L111.5,34.1 Z M118,14.5 C116.6,14.5 115.6,13.4 115.6,11.9 C115.6,10.3 116.9,9 118.5,9 C120,9 121,10.1 121,11.6 C121,13.4 119.6,14.5 118,14.5 Z M120.9,34.1 L123.6,20.1 L121.3,20.1 L122,16.4 L124.3,16.4 L124.4,15.6 C124.8,13.5 125.6,11.4 127.3,10 C128.6,8.9 130.4,8.4 132.2,8.4 C133.4,8.4 134.3,8.6 134.9,8.8 L133.9,12.7 C133.5,12.6 133,12.4 132.3,12.4 C130.6,12.4 129.6,13.9 129.3,15.6 L129.1,16.4 L132.6,16.4 L131.9,20.1 L128.4,20.1 L125.7,34.1 L120.9,34.1 L120.9,34.1 Z M138.9,16.4 L139.7,24.3 C139.9,26.1 140.1,27.6 140.1,28.5 L140.2,28.5 C140.6,27.6 141,26.2 141.7,24.3 L144.8,16.4 L150,16.4 L143.9,29.5 C141.7,34 139.6,37.2 137.3,39.4 C135.5,41.1 133.4,41.9 132.4,42.1 L131,37.9 C131.8,37.6 132.9,37.2 133.8,36.5 C135,35.7 135.9,34.6 136.5,33.5 C136.6,33.2 136.7,33 136.6,31.6 L133.6,16.4 L138.9,16.4 Z"/>
      </svg>
      <span class="visually-hidden">Shopify</span>
    </a>
  </footer>

  <div class="overlay fixed top-0 right-0 bottom-0 left-0 js-overlay"></div>

  <script>
    window.theme = {
      info: {
        name: 'CC_THEME_NAME',
        version: 'CC_THEME_VERSION'
      },
      mediaQueries: {
        sm: '(min-width: 600px)',
        md: '(min-width: 769px)',
        lg: '(min-width: 1024px)',
        xl: '(min-width: 1280px)',
        xxl: '(min-width: 1536px)',
        portrait: '(orientation: portrait)'
      },
      device: {
        hasTouch: window.matchMedia('(any-pointer: coarse)').matches,
        hasHover: window.matchMedia('(hover: hover)').matches
      },
      routes: {
        cart: '{{ routes.cart_url }}',
        cartAdd: '{{ routes.cart_add_url }}',
        cartChange: '{{ routes.cart_change_url }}',
        cartUpdate: '{{ routes.cart_update_url }}',
        predictiveSearch: '{{ routes.predictive_search_url }}'
      },
      settings: {
        moneyWithCurrencyFormat: '{{ shop.money_with_currency_format }}',
        pSearchLimit: 10,
        pSearchLimitScope: 'each',
        pSearchIncludeSkus: {{ settings.predictive_search_include_skus }},
        pSearchIncludeTags: {{ settings.predictive_search_include_tags }},
        pSearchShowArticles: {{ settings.search_show_articles }},
        pSearchShowCollections: {{ settings.predictive_search_show_collections }},
        pSearchShowPages: {{ settings.search_show_pages }},
        pSearchShowProducts: {{ settings.search_show_products }},
        sliderItemsPerNav: '{{ settings.slider_items_per_nav }}',
        {% if settings.show_blur_messages %}
        blurMessage1: {{ settings.blur_message_1 | json }},
        blurMessage2: {{ settings.blur_message_2 | json }},
        blurMessageDelay: {{ settings.blur_message_delay }},
        {% endif %}
        vibrateOnATC: {{ settings.vibrate_on_atc }},
        compareToggle: {{ settings.compare_toggle | json }},
        compareShowEmptyMetafields: {{ settings.compare_show_empty_metafields | json }},
        blendProductImages: {{ settings.blend_product_images | json }},
        externalLinksNewTab: {{ settings.external_links_new_tab | json }},
        afterAtc: {{ settings.after_add_to_cart | json }}
      },
      strings: {
        addToCart: '{{ "products.product.add_to_cart" | t }}',
        addCartNote: '{{ "cart.note.add" | t }}',
        editCartNote: '{{ "cart.note.edit" | t }}',
        cartError: '{{ "cart.general.error" | t }}',
        cartQtyError: '{{ "cart.items.quantity_error" | t: quantity: "[quantity]" }}',
        imageAvailable: '{{ "products.product.media.image_available" | t: index: "[index]" }}',
        lowStock: '{{ 'products.inventory.low_stock' | t }}',
        inStock: '{{ 'products.inventory.in_stock' | t }}',
        noStock: '{{ "products.variant.no_stock" | t }}',
        noVariant: '{{ "products.variant.non_existent" | t }}',
        onlyXLeft: '{{ "products.inventory.only_x_left" | t: quantity: "[quantity]" }}',
        shippingCalculator: {
          singleRate: '{{ "cart.shipping_calculator.single_rate" | t }}',
          multipleRates: '{{ "cart.shipping_calculator.multiple_rates" | t }}',
          noRates: '{{ "cart.shipping_calculator.no_rates" | t }}'
        },
        viewDetails: '{{ "products.product.view_details" | t }}',
        compare: {
          limit: '{{ 'products.compare.drawer.limit_reached' | t: quantity: '[quantity]' }}',
          more: '{{ 'products.compare.drawer.select_more' | t }}',
          empty: '{{ 'products.compare.drawer.empty' | t }}',
          continue: '{{ 'products.compare.drawer.close_continue' | t }}'
        },
        discountCopyFail: '{{ 'general.discount_code.copy_fail' | t }}',
        articleReadTime: '{{ 'blogs.article.reading_time' | t }}',
        quickNav: {
          button_standard: '{{ 'general.quick_navigation_panel.button_label' | t }}',
          show_products_none: '{{ 'general.quick_navigation_panel.show_products_none' | t }}',
          button_one: '{{ 'general.quick_navigation_panel.show_products_one' | t: quantity: '[quantity]' }}',
          button_other: '{{ 'general.quick_navigation_panel.show_products_other' | t: quantity: '[quantity]' }}',
        },
      },
      scripts: {
        cartItems: '{{ "cart-items.js" | asset_url }}',
        countryProvinceSelector: '{{ "country-province-selector.js" | asset_url }}',
        shippingCalculator: '{{ "shipping-calculator.js" | asset_url }}'
      }
    };
  </script>
</body>
</html>
