<div class="container rewards-redeem-container">
  <div class="horizontal-redeem">
    <div class="horizontal-redeem-blank">
      <h3 class="rewards-redeem-text1">{{ section.settings.text1 }}</h3>
      <p class="rewards-redeem-text2">{{ section.settings.text2 }}</p>
    </div>
    <div class="horizontal-redeem-image">
      <img
        src="{{ section.settings.image_desktop | img_url : 'master' }}"
        alt="Section Image"
        class="desktop_image_class rewards-redeem-desktop"
        style="width: 100%;">
      <img
        src="{{ section.settings.image_mobile | img_url : 'master' }}"
        alt="Section Image"
        class="desktop_image_class rewards-redeem-mobile"
        style="width: 100%;">
      <span class="rewards-redeem-text3">{{ section.settings.text3 }}</span>
      <a href="#" class="rewards-redeem-text4">{{ section.settings.text4 }}</a>
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Rewards Redeem",
    "settings": [
      {
        "type": "text",
        "label": "Text1",
        "id": "text1",
        "default": "text1"
      },
      {
        "type": "text",
        "label": "Text2",
        "id": "text2",
        "default": "text2"
      },
      {
        "type": "text",
        "label": "Text3",
        "id": "text3",
        "default": "text3"
      },
      {
        "type": "text",
        "label": "Text4",
        "id": "text4",
        "default": "text4"
      }, {
        "type": "image_picker",
        "id": "image_desktop",
        "label": "Image",
        "info": "For best results, use a landscape shaped image with a width of 1400px."
      }, {
        "type": "image_picker",
        "id": "image_mobile",
        "label": "Mobile image (optional)",
        "info": "For best results, use a square or portrait shaped image. If no mobile image is provided, the large screen image will be used."
      }, {
        "type": "url",
        "id": "url",
        "label": "Image1 link (optional)"
      }
    ],
    "presets": [
      {
        "name": "Rewards-Redeem",
        "category": "Custom"
      }
    ]
  }
{% endschema %}