{%- liquid
  assign color_scheme = section.settings.color_scheme
  assign bg_color = false

  if color_scheme == '1'
    assign bg_color = settings.color_scheme_1_bg
  elsif color_scheme == '2'
    assign bg_color = settings.color_scheme_2_bg
  elsif color_scheme == '3'
    assign bg_color = settings.color_scheme_3_bg
  endif

  if bg_color == settings.bg_color or bg_color == 'rgba(0,0,0,0)'
    assign bg_color = false
  endif
-%}

{%- unless section.settings.full_width -%}
  <div class="container">
{%- endunless -%}

<div class="section{% unless bg_color == false %} section--padded{% if section.settings.full_width %} section--full-width{% endif %}{% endunless %}{% unless color_scheme == 'none' %} color-scheme color-scheme--{{ color_scheme }}{% endunless %}" id="{{ section.id }}">
  <div class="container">
    <div class="reading-width"{% if settings.animations_enabled != "disabled" %} data-cc-animate{% endif %}>
      {%- if section.settings.heading != blank -%}
        <h2 class="h4 section__heading mb-12 {{ section.settings.heading_align }}">{{ section.settings.heading | escape }}</h2>
      {%- endif -%}

      {%- for block in section.blocks -%}
        {%- if block.type == 'category' -%}
          <h3 class="text-h5 font-body font-bold{% unless forloop.first %} mt-16{% endunless %} mb-6" {{ block.shopify_attributes }}>{{ block.settings.text }}</h3>
        {%- elsif block.type == 'button' -%}
          <div class="{% unless forloop.first %} mt-6{% endunless %} mb-6" {{ block.shopify_attributes }}>
            <a class="{{ block.settings.button_style }}" {% if block.settings.button_link != blank %}href="{{ block.settings.button_link }}"{% else %}role="link" aria-disabled="true"{% endif %}>
              {{- block.settings.button_label | escape -}}
            </a>
          </div>
        {%- else -%}
          <details-disclosure>
            <details class="disclosure disclosure--row">
              <summary>
                <div class="flex justify-between items-center">
                  <h4 class="disclosure__title h6 font-body flex flex-auto items-center mb-0 text-current">
                    {%- if block.settings.icon != 'none' -%}
                      {% render 'icon', icon: block.settings.icon, width: 22, height: 22 %}
                    {%- endif -%}
                    {{- block.settings.heading -}}
                  </h4>
                  <span class="disclosure__toggle">
                    {%- if settings.disclosure_toggle == 'plus' -%}
                      {% render 'icon-plus' %}
                    {%- else -%}
                      {% render 'icon-chevron-down' %}
                    {%- endif -%}
                  </span>
                </div>
              </summary>
              <div class="disclosure__panel has-motion">
                <div class="disclosure__content rte">
                  {{ block.settings.text }}
                </div>
              </div>
            </details>
          </details-disclosure>
        {%- endif -%}
      {%- endfor -%}
    </div>
  </div>
</div>

{%- unless section.settings.full_width -%}
  </div>
{%- endunless -%}

{% schema %}
{
  "name": "Collapsible content",
  "tag": "section",
  "class": "cc-faq",
  "settings": [
    {
      "type": "header",
      "content": "Section header"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Frequently Asked Questions"
    },
    {
      "type": "select",
      "id": "heading_align",
      "label": "Heading alignment",
      "options": [
        {
          "value": "text-start",
          "label": "Left"
        },
        {
          "value": "text-center",
          "label": "Center"
        },
        {
          "value": "text-end",
          "label": "Right"
        }
      ],
      "default": "text-center"
    },
    {
      "type": "header",
      "content": "Style"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "Color scheme",
      "options": [
        {
          "value": "none",
          "label": "Default"
        },
        {
          "value": "1",
          "label": "Scheme 1"
        },
        {
          "value": "2",
          "label": "Scheme 2"
        },
        {
          "value": "3",
          "label": "Scheme 3"
        }
      ],
      "default": "1"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Make section background full width",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "question",
      "name": "Collapsible item",
      "settings": [
        {
          "type": "select",
          "id": "icon",
          "label": "Icon",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "award",
              "label": "Award"
            },
            {
              "value": "box",
              "label": "Box"
            },
            {
              "value": "briefcase",
              "label": "Briefcase"
            },
            {
              "value": "calendar",
              "label": "Calendar"
            },
            {
              "value": "chat_bubble",
              "label": "Chat bubble"
            },
            {
              "value": "check_mark",
              "label": "Check mark"
            },
            {
              "value": "check_mark_in_circle",
              "label": "Check mark in circle"
            },
            {
              "value": "clock",
              "label": "Clock"
            },
            {
              "value": "credit_card",
              "label": "Credit card"
            },
            {
              "value": "dollar_sign",
              "label": "Dollar sign"
            },
            {
              "value": "dryer",
              "label": "Dryer"
            },
            {
              "value": "eye",
              "label": "Eye"
            },
            {
              "value": "feather",
              "label": "Feather"
            },
            {
              "value": "gift",
              "label": "Gift"
            },
            {
              "value": "heart",
              "label": "Heart"
            },
            {
              "value": "iron",
              "label": "Iron"
            },
            {
              "value": "leaf",
              "label": "Leaf"
            },
            {
              "value": "leather",
              "label": "Leather"
            },
            {
              "value": "lock",
              "label": "Lock"
            },
            {
              "value": "map_pin",
              "label": "Map pin"
            },
            {
              "value": "pants",
              "label": "Pants"
            },
            {
              "value": "percent",
              "label": "Percent"
            },
            {
              "value": "plane",
              "label": "Plane"
            },
            {
              "value": "price_tag",
              "label": "Price tag"
            },
            {
              "value": "question_mark",
              "label": "Question mark"
            },
            {
              "value": "return",
              "label": "Return"
            },
            {
              "value": "ruler",
              "label": "Ruler"
            },
            {
              "value": "scissors",
              "label": "Scissors"
            },
            {
              "value": "shirt",
              "label": "Shirt"
            },
            {
              "value": "shoe",
              "label": "Shoe"
            },
            {
              "value": "silhouette",
              "label": "Silhouette"
            },
            {
              "value": "star",
              "label": "Star"
            },
            {
              "value": "truck",
              "label": "Truck"
            },
            {
              "value": "washing",
              "label": "Washing"
            }
          ],
          "default": "none"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Frequently asked question"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Content",
          "default": "<p>Provide an answer to the question here, with as much detail as possible to help your customers.</p>"
        }
      ]
    },
    {
      "type": "category",
      "name": "Category",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Category title",
          "default": "Category"
        }
      ]
    },
    {
      "type": "button",
      "name": "Button",
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "label": "Button label",
          "default": "Button"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "Button style",
          "options": [
            {
              "value": "link",
              "label": "Link"
            },
            {
              "value": "btn btn--primary",
              "label": "Primary button"
            },
            {
              "value": "btn btn--secondary",
              "label": "Secondary button"
            }
          ],
          "default": "btn btn--secondary"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collapsible content",
      "blocks": [
        {
          "type": "category",
          "settings": {
            "text": "Shipping"
          }
        },
        {
          "type": "question",
          "settings": {
            "heading": "What countries do you ship to?",
            "text": "<p>We currently ship to the United States, Canada, Australia and the UK. To enquire about shipping to a different destination, please contact us.</p>"
          }
        },
        {
          "type": "question",
          "settings": {
            "heading": "How long will it take to receive my order?",
            "text": "<p>Standard shipping normally takes 3-5 days. Next day shipping is available on all domestic orders (for an additional charge). International shipping times depend on the products and destination (estimated at checkout).</p>"
          }
        },
        {
          "type": "category",
          "settings": {
            "text": "Returns and Refunds"
          }
        },
        {
          "type": "question",
          "settings": {
            "heading": "How do I return a product?",
            "text": "<p>Items must be returned within 30 days after receiving your order. Items must be returned in the same condition in which they were received, be unworn/unused, have any tags still attached, and include all the original packaging.</p>"
          }
        },
        {
          "type": "question",
          "settings": {
            "heading": "How long will it take to receive my refund?",
            "text": "<p>Refunds are processed within 7 days from when we receive the item(s).</p>"
          }
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "aside"
    ]
  }
}
{% endschema %}
