{%- if section.blocks.size > 0 -%}
  <link rel="stylesheet" href="{{ 'icons-with-text.css' | asset_url }}">
  {%- liquid
    assign color_scheme = section.settings.color_scheme
    assign grid_classes = 'auto-cols-1'
    if section.blocks.size == 2
      assign grid_classes = grid_classes | append: ' sm:auto-cols-2 icons-with-text--narrow'
    elsif section.blocks.size == 3
      assign grid_classes = grid_classes | append: ' sm:auto-cols-2 md:auto-cols-3'
    elsif section.blocks.size > 3
      assign grid_classes = grid_classes | append: ' sm:auto-cols-2 md:auto-cols-3 lg:auto-cols-4'
    endif
  -%}

  {%- unless section.settings.full_width -%}
    <div class="container">
  {%- endunless -%}

  <div class="icons-with-text section{% if section.settings.full_width %} section--full-width{% if section.settings.dividers != "none" %} {{ section.settings.dividers }}{% endif %}{% endif %} section--padded-{{ section.settings.section_height }}{% unless color_scheme == 'none' %} color-scheme color-scheme--{{ color_scheme }}{% endunless %}" id="{{ section.id }}">
    <div class="container relative">
      {%- if section.settings.heading != blank -%}
        <h2 class="h4 section__heading {{ section.settings.heading_align }}"{% if settings.animations_enabled != "disabled" and section.settings.prevent_animation == false %} data-cc-animate{% endif %}>{{ section.settings.heading | escape }}</h2>
      {%- endif -%}

      <carousel-slider class="carousel block relative" inactive>
        <div class="slider-nav slide-nav--inline flex justify-between absolute top-0 h-full no-js-hidden">
          <button type="button" class="slider-nav__btn tap-target tap-target--left btn text-current has-ltr-icon" name="prev" aria-controls="slider-{{ section.id }}">
            <span class="visually-hidden">{{ 'general.slider.previous' | t }}</span>
            {% render 'icon-chevron-left' %}
          </button>
          <button type="button" class="slider-nav__btn tap-target tap-target--right btn text-current has-ltr-icon" name="next" aria-controls="slider-{{ section.id }}">
            <span class="visually-hidden">{{ 'general.slider.next' | t }}</span>
            {% render 'icon-chevron-right' %}
          </button>
        </div>

        <div class="slider slider--contained relative slider--no-scrollbar" id="slider-{{ section.id }}">
          <ul class="slider__grid grid grid-flow-col gap-x-theme {{ grid_classes }}">
            {%- for block in section.blocks -%}
              {%- liquid
                assign is_link = true
                if block.settings.text contains "<a" or block.settings.link == blank
                  assign is_link = false
                endif
              -%}
              <li class="slider__item{% unless is_link %} flex{% if section.settings.icon_position == 'above' %} flex-col justify-center{% endif %} justify-center items-center{% endunless %}" {{ block.shopify_attributes }}{% if settings.animations_enabled != "disabled" and section.settings.prevent_animation == false %} data-cc-animate data-cc-animate-delay="{{ forloop.index | times: 0.07 }}s"{% endif %}>
                {% if is_link %}
                <a class="text-current flex h-full{% if section.settings.icon_position == 'above' %} flex-col justify-center{% endif %} justify-center items-center" href="{{ block.settings.link.url }}">
                {% endif %}

                {%- if block.settings.custom_icon != blank -%}
                  {{ block.settings.custom_icon | image_url: width: section.settings.icon_size | image_tag: loading: 'lazy' }}
                {%- else -%}
                  {% render 'icon',
                    icon: block.settings.icon,
                    width: section.settings.icon_size,
                    height: section.settings.icon_size
                  %}
                {%- endif -%}

                {% unless block.settings.heading == blank and block.settings.text == blank %}
                  <div class="icons-with-text__text rte{% if section.settings.icon_position == 'above' %} mt-2 text-center{% endif %}">
                    {%- if block.settings.heading != blank -%}
                      <p class="m-0"><strong>{{ block.settings.heading | escape }}</strong></p>
                    {%- endif -%}

                    {%- if block.settings.text != blank -%}
                      {{ block.settings.text }}
                    {%- endif -%}
                  </div>
                {% endunless %}

                {% if is_link %}
                </a>
                {% endif %}
              </li>
            {%- endfor -%}
          </ul>
        </div>
      </carousel-slider>
    </div>
  </div>

  {%- unless section.settings.full_width -%}
    </div>
  {%- endunless -%}
{%- endif -%}

{% schema %}
{
  "name": "Icons with text",
  "tag": "section",
  "class": "cc-icons-with-text",
  "settings": [
    {
      "type": "header",
      "content": "Section header"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "select",
      "id": "heading_align",
      "label": "Heading alignment",
      "options": [
        {
          "value": "text-start",
          "label": "Left"
        },
        {
          "value": "text-center",
          "label": "Center"
        },
        {
          "value": "text-end",
          "label": "Right"
        }
      ],
      "default": "text-start"
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "range",
      "id": "icon_size",
      "min": 24,
      "max": 48,
      "step": 4,
      "unit": "px",
      "label": "Icon size",
      "default": 48
    },
    {
      "type": "radio",
      "id": "icon_position",
      "label": "Icon position",
      "options": [
        {
          "value": "above",
          "label": "Above text"
        },
        {
          "value": "beside",
          "label": "Beside text"
        }
      ],
      "default": "beside"
    },
    {
      "type": "select",
      "label": "Section height",
      "id": "section_height",
      "options": [
        {
          "value": "default",
          "label": "Default"
        },
        {
          "value": "xsmall",
          "label": "Extra small"
        },
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        }
      ],
      "default": "medium"
    },
    {
      "type": "header",
      "content": "Style"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "Color scheme",
      "options": [
        {
          "value": "none",
          "label": "Default"
        },
        {
          "value": "1",
          "label": "Scheme 1"
        },
        {
          "value": "2",
          "label": "Scheme 2"
        },
        {
          "value": "3",
          "label": "Scheme 3"
        }
      ],
      "default": "1"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Make section background full width",
      "default": true
    },
    {
      "type": "select",
      "id": "dividers",
      "label": "Dividing lines when full width",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "border-top",
          "label": "Above"
        },
        {
          "value": "border-bottom",
          "label": "Below"
        },
        {
          "value": "border-top border-bottom",
          "label": "Above and below"
        }
      ],
      "default": "none"
    },
    {
      "type": "header",
      "content": "SEO"
    },
    {
      "type": "checkbox",
      "id": "prevent_animation",
      "label": "Load the section without animation",
      "info": "If this section is visible when the page loads, enabling this setting can reduce CLS and may improve site speed scores. [Read more](https://cleancanvas.co.uk/support/enterprise/performance-guide)",
      "default": false
    }
  ],
  "max_blocks": 8,
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "type": "select",
          "id": "icon",
          "label": "Icon",
          "options": [
            {
              "value": "award",
              "label": "Award"
            },
            {
              "value": "box",
              "label": "Box"
            },
            {
              "value": "briefcase",
              "label": "Briefcase"
            },
            {
              "value": "calendar",
              "label": "Calendar"
            },
            {
              "value": "chat_bubble",
              "label": "Chat bubble"
            },
            {
              "value": "check_mark",
              "label": "Check mark"
            },
            {
              "value": "check_mark_in_circle",
              "label": "Check mark in circle"
            },
            {
              "value": "clock",
              "label": "Clock"
            },
            {
              "value": "credit_card",
              "label": "Credit card"
            },
            {
              "value": "dollar_sign",
              "label": "Dollar sign"
            },
            {
              "value": "dryer",
              "label": "Dryer"
            },
            {
              "value": "eye",
              "label": "Eye"
            },
            {
              "value": "feather",
              "label": "Feather"
            },
            {
              "value": "gift",
              "label": "Gift"
            },
            {
              "value": "heart",
              "label": "Heart"
            },
            {
              "value": "iron",
              "label": "Iron"
            },
            {
              "value": "leaf",
              "label": "Leaf"
            },
            {
              "value": "leather",
              "label": "Leather"
            },
            {
              "value": "lock",
              "label": "Lock"
            },
            {
              "value": "map_pin",
              "label": "Map pin"
            },
            {
              "value": "pants",
              "label": "Pants"
            },
            {
              "value": "percent",
              "label": "Percent"
            },
            {
              "value": "plane",
              "label": "Plane"
            },
            {
              "value": "price_tag",
              "label": "Price tag"
            },
            {
              "value": "question_mark",
              "label": "Question mark"
            },
            {
              "value": "return",
              "label": "Return"
            },
            {
              "value": "ruler",
              "label": "Ruler"
            },
            {
              "value": "scissors",
              "label": "Scissors"
            },
            {
              "value": "shirt",
              "label": "Shirt"
            },
            {
              "value": "shoe",
              "label": "Shoe"
            },
            {
              "value": "silhouette",
              "label": "Silhouette"
            },
            {
              "value": "star",
              "label": "Star"
            },
            {
              "value": "truck",
              "label": "Truck"
            },
            {
              "value": "washing",
              "label": "Washing"
            }
          ]
        },
        {
          "type": "image_picker",
          "id": "custom_icon",
          "label": "Custom icon",
          "info": "96px x 96px transparent png recommended."
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Text",
          "default": "Item heading"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Short text description</p>"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Icons with text",
      "blocks": [
        {
          "type": "item",
          "settings": {
            "icon": "truck",
            "heading": "Free shipping",
            "text": "<p>On all orders over $100</p>"
          }
        },
        {
          "type": "item",
          "settings": {
            "icon": "price_tag",
            "heading": "Special offers",
            "text": "<p>Regular sales and discounts</p>"
          }
        },
        {
          "type": "item",
          "settings": {
            "icon": "return",
            "heading": "Easy returns",
            "text": "<p>Hassle free returns policy</p>"
          }
        },
        {
          "type": "item",
          "settings": {
            "icon": "chat_bubble",
            "heading": "Chat facility",
            "text": "<p>Talk to a real person</p>"
          }
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": [
      "aside"
    ]
  }
}
{% endschema %}
