{%- comment -%}theme-check-disable LiquidTag, NestedSnippet{%- endcomment -%}
{%- comment -%}Build: bg-info-bg text-info-text{%- endcomment -%} <link rel="stylesheet" href="{{ 'product.css' | asset_url }}"> <link rel="stylesheet" href="{{ 'product-page.css' | asset_url }}">

{%- assign messages = section.blocks | where: "type", "message" -%}
{%- if messages -%}
  <script src="{{ 'product-message.js' | asset_url }}" defer="defer"></script>
  {{ 'product-message.css' | asset_url | stylesheet_tag }}
{%- endif -%}

{%- if product.metafields.spr.reviews -%}
  {{ 'reviews.css' | asset_url | stylesheet_tag }}
{%- endif -%}

{%- if product.media.size > 0 -%}
  <link rel="stylesheet" href="{{ 'media-gallery.css' | asset_url }}">
{%- endif -%}
{% assign target_product_id = product.id %}
{% for collection in collections %}
  {% for product in collection.products %}
    {% if product.id == target_product_id %}
      {% assign collection_name = collection.title %}
      {% if collection_name contains 'Custom Driver' %}
        {% assign isCustomDriver = true %}
      {% elsif collection_name contains 'Stock Driver' %}
        {% assign isStockDriver = true %}
      {% elsif collection_name contains 'Custom Irons' %}
        {% assign isCustomIrons = true %}
      {% elsif collection_name contains 'Stock Irons' %}
        {% assign isStockIrons = true %}
      {% elsif collection_name contains 'Custom Wedge' %}
        {% assign isCustomWedge = true %}
      {% elsif collection_name contains 'Stock Wedge' %}
        {% assign isStockWedge = true %}
      {% elsif collection_name contains 'Golf Shaft' %}
        {% assign isGolfShaft = true %}
      {% endif %}
    {% endif %}
  {% endfor %}
{% endfor %}
<script>
  document.addEventListener("DOMContentLoaded", function() {
    const Bold_Product_Options = document.getElementsByClassName("bold_options_loaded");
    if (Bold_Product_Options.length > 0) {
      Bold_Product_Options[0].style.display = 'none';
    }

  });
</script>

{%- if product.metafields.reviews.rating.value != blank -%}
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      if (document.getElementById('shopify-product-reviews')) {
        const link = document.createElement('link');
        link.rel = "stylesheet";
        link.href = "{{ 'reviews.css' | asset_url }}";
        document.body.appendChild(link);
      }
    }, {once: true});
  </script>
{%- endif -%}

<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>

{%- liquid
  # constants
  assign breakpoint_md = 769
  assign breakpoint_lg = 1024

  assign product_form_id = 'product-form-' | append: section.id
  assign current_variant = product.selected_or_first_available_variant
  assign first_3d_model = product.media | where: 'media_type', 'model' | first
  assign media_ratio = section.settings.media_ratio
  assign thumb_ratio = section.settings.thumb_ratio

  if media_ratio == 'natural'
    assign media_ratio = 99
    for media in product.media
      if media.preview_image.aspect_ratio < media_ratio
        assign media_ratio = media.preview_image.aspect_ratio
      endif
    endfor
  endif

  if thumb_ratio == 'natural'
    assign thumb_ratio = 99
    for media in product.media
      if media.preview_image.aspect_ratio < thumb_ratio
        assign thumb_ratio = media.preview_image.aspect_ratio
      endif
    endfor
  endif
-%}

{%- style -%}
  {%- if section.settings.media_layout == 'stacked' -%}
    @media(max-width: {{ breakpoint_md | minus: 0.02 }}px) {
      .media-gallery__main .media-xr-button {
        display: none;
      }
      .active .media-xr-button:not([data-shopify-xr-hidden]) {
        display: block;
      }
    }
  {%- else -%}
    .media-gallery__main .media-xr-button {
      display: none;
    }
    .active .media-xr-button:not([data-shopify-xr-hidden]) {
      display: block;
    }
  {%- endif -%}

  {%- if section.settings.media_size == 'large' -%}
    @media(min-width: {{ breakpoint_lg }}px){:root {
      --product-info-width: 400px !important;
    }
  }
{%- endif -%}
{%- endstyle -%}

{%- if first_3d_model -%}
  <link
    rel="stylesheet"
    href="https://cdn.shopify.com/shopifycloud/model-viewer-ui/assets/v1.0/model-viewer-ui.css"
    media="print"
    onload="this.media='all'">
  <link
    rel="stylesheet"
    href="{{ 'model-viewer.css' | asset_url }}"
    media="print"
    onload="this.media='all'">
  <script src="{{ 'product-model.js' | asset_url }}" defer></script>
{%- endif -%}

<div class="container">
  <div class="product js-product" data-section="{{ section.id }}">
    <div id="product-media" class="product-media product-media--{{ section.settings.media_layout }}">
      {%- if product.media.size > 0 -%}
        {% render 'media-gallery'
         , product: product,
         current_variant: current_variant,
         media_ratio: media_ratio,
         media_crop: section.settings.media_crop,
         thumb_ratio: thumb_ratio,
         thumb_crop: section.settings.thumb_crop,
         first_3d_model: first_3d_model,
         zoom: section.settings.hover_zoom %}
      {%- else -%}
        <div class="media relative">
          {{ 'image' | placeholder_svg_tag: 'media__placeholder' }}
        </div>
      {%- endif -%}
    </div>

    <div class="product-info{% if section.settings.stick_on_scroll %} product-info--sticky{% endif %} custom-main-product-board" {% if section.settings.stick_on_scroll %}data-sticky-height-elems="#product-media,.cc-main-product + .cc-product-details .container"{% endif %}>
      {%- if section.settings.stick_on_scroll -%}
        <script src="{{ 'sticky-scroll-direction.js' | asset_url }}" defer="defer"></script>
        <sticky-scroll-direction data-min-sticky-size="md">
          <div class="product-info__sticky">
          {%- endif -%}

          {%- assign has_variant_picker = false -%}
          {%- if section.settings.sticky_atc_panel -%}
            <a
              class="product-options--anchor"
              id="product-info"
              rel="nofollow"></a>
          {%- endif -%}

          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when '@app' -%}
              <div class="product-info__block" {{ block.shopify_attributes }}>
                {% render block %}
              </div>

              {%- when 'vendor-sku' -%}
              {%- if block.settings.show_vendor or block.settings.show_sku -%}
                <div class="product-info__block product-info__block--sm product-vendor-sku text-sm" {{ block.shopify_attributes }}>
                  {%- if block.settings.show_vendor and product.vendor != blank -%}
                    {%- liquid
                    assign vendor_handle = product.vendor | handle
                    if collections[vendor_handle].handle == vendor_handle
                      assign vendor_url = collections[vendor_handle].url
                    else
                      assign vendor_url = product.vendor | url_for_vendor
                    endif
                  -%}
                    <span class="product-vendor">{{ product.vendor | link_to: vendor_url }}</span>
                  {%- endif -%}

                  {%- if block.settings.show_sku and current_variant.sku != blank -%}
                    <span class="product-sku">
                      {%- if block.settings.show_vendor and product.vendor != blank %}
                        &nbsp;|&nbsp;
                      {% endif -%}
                      <span>{{ 'products.product.sku' | t }}</span>
                      <span class="product-sku__value">{{ current_variant.sku }}</span>
                    </span>
                  {%- endif -%}
                </div>
              {%- endif -%}

              {%- when 'title' -%}
              <div class="product-info__block product-info__block--sm product-info__title" {{ block.shopify_attributes }}>
                <h1 class="product-title h5 custom-product-detail-title">{{ product.title | escape }}</h1>
              </div>
              {%- when 'price' -%}
              <div class="product-info__block product-info__block--sm product-price" {{ block.shopify_attributes }}>
                <div class="product-info__price custom-product-info__price">
                  {% render 'price', product: product, use_variant: true %}
                </div>
                {%- if block.settings.show_tax_and_shipping -%}
                  {%- if cart.taxes_included or shop.shipping_policy.body != blank -%}
                    <div class="product-policies text-sm rte">
                      {%- if cart.taxes_included -%}
                        {{ 'products.product.include_taxes' | t }}
                      {%- endif -%}
                      {%- if shop.shipping_policy.body != blank -%}
                        {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
                      {%- endif -%}
                    </div>
                  {%- endif -%}
                {%- endif -%}

                {%- assign instalments_form_id = 'instalments-form-' | append: section.id -%}
                {%- form 'product', product, class: 'js-instalments-form  text-sm mt-2', id: instalments_form_id -%}
                  <input
                    type="hidden"
                    name="id"
                    value="{{ current_variant.id }}">
                  {{ form | payment_terms }}
                {%- endform -%}
              </div>

              {%- when 'rating' -%}
              {%- if product.metafields.reviews.rating.value != blank -%}
                <div class="product-info__block product-info__block--sm product-info__rating" {{ block.shopify_attributes }}>
                  {% render 'rating'
                   , rating_value: product.metafields.reviews.rating.value,
                   rating_count: product.metafields.reviews.rating_count %}
                </div>
              {%- endif -%}

              {%- when 'variant-picker' -%}
              {%- unless product.has_only_default_variant -%}
                {%- assign has_variant_picker = true -%}
                {%- if section.settings.sticky_atc_panel and product.available -%}
                  <a
                    class="product-options--anchor"
                    id="variants"
                    rel="nofollow"></a>
                {%- endif -%}
                <div class="product-info__block product-options" {{ block.shopify_attributes }}>
                  {% render 'variant-picker'
                   , product: product,
                   product_form_id: product_form_id,
                   block: block,
                   media_ratio: media_ratio,
                   swatch_crop: section.settings.media_crop %}

                </div>
              {%- endunless -%}

              {%- if block.settings.show_backorder_text -%}
                <div class="product-info__block product-backorder">
                  {% render 'backorder', product: product, variant: current_variant %}
                </div>
              {%- endif -%}

              {%- when 'inventory-status' -%}
              {% render 'product-inventory-custom', product: product, current_variant: current_variant, block: block %}
              {%- when 'custom-product-top1' -%}
              {%- render 'custom-product-top1' -%}
              {%- when 'custom-product-top2' -%}
                <div class="w-full custom-product-top2-board">
                  <div
                    class="custom-product-top2-row1">Earn 630 Points</div>
                </div>
              {% when 'custom-product-switch' %}
              {% if isCustomDriver or isStockDriver or isCustomIrons or isStockIrons or isCustomWedge or isStockWedge %}

                <div class="custom-product-switch-board">
                  <a href="#"><button id="stock-button" class="btn--primary custom-product-btn-stock">Stock</button></a>
                  <a href="#"><button id="customize-button" class="btn--primary custom-product-btn-customize">Customize</button></a>
                </div>
              {% endif %}
              {% if isCustomDriver or isStockDriver %}
                <script>
                  document.addEventListener("DOMContentLoaded", function() {

                    const stockButton = document.getElementById("stock-button");
                    const customizeButton = document.getElementById("customize-button");
                    const stockView = document.querySelector(".custom-product-btn-stock");
                    const customizeView = document.querySelector(".custom-product-btn-customize");

                    const Driver_Options = document.getElementsByClassName("bold_option_set");
                    let option_length = 0;

                  
                    if (stockButton && customizeButton && stockView && customizeView) {
                      stockView.style.zIndex = 1;
                      customizeView.style.zIndex = 2;
                      setTimeout(() => {
                        option_length = Driver_Options[1].children.length
                        for(let i=0;i<option_length;i++)
                        {
                          if(i>=option_length-2 && i<option_length)
                            Driver_Options[1].children[i].style.display = "none";
                          else
                            Driver_Options[1].children[i].style.display = "block";
                        }                        
                      }, 1000);
                  
                      // Add your click event listeners here
                      stockButton.addEventListener("click", function() {
                        stockView.style.zIndex = 2;
                        customizeView.style.zIndex = 1;
                        if (option_length > 0) {
                          setTimeout(() => {
                            for(let i=0;i<option_length;i++)
                            {
                              if(i>=option_length-2 && i<option_length)
                                Driver_Options[1].children[i].style.display = "block";
                              else
                                Driver_Options[1].children[i].style.display = "none";
                            }   
                          }, 700);
                        }
                      });
                  
                      customizeButton.addEventListener("click", function() {
                        customizeView.style.zIndex = 2;
                        stockView.style.zIndex = 1;
                        if (option_length > 0) {
                            setTimeout(() => {
                              for(let i=0;i<option_length;i++)
                              {
                                if(i>=option_length-2 && i<option_length)
                                  Driver_Options[1].children[i].style.display = "none";
                                else
                                  Driver_Options[1].children[i].style.display = "block";
                              }   
                          }, 700);
                        }
                      });
                    } else {
                      console.error("One or more elements not found.");
                    }
                  });
                  
                </script>
              {% endif %}
              {% if isCustomIrons or isStockIrons %}
                <script>
                  document.addEventListener("DOMContentLoaded", function() {

                    const stockButton = document.getElementById("stock-button");
                    const customizeButton = document.getElementById("customize-button");
                    const stockView = document.querySelector(".custom-product-btn-stock");
                    const customizeView = document.querySelector(".custom-product-btn-customize");

                    const Driver_Options = document.getElementsByClassName("bold_option_set");
                    let option_length = 0;

                  
                    if (stockButton && customizeButton && stockView && customizeView) {
                      stockView.style.zIndex = 1;
                      customizeView.style.zIndex = 2;
                      setTimeout(() => {
                        option_length = Driver_Options[1].children.length;
                        for(let i=0;i<option_length;i++)
                        {
                          if(i==1 || i==3)
                            Driver_Options[1].children[i].style.display = "none";
                          else
                            Driver_Options[1].children[i].style.display = "block";
                        }                        
                      }, 1000);
                  
                      // Add your click event listeners here
                      stockButton.addEventListener("click", function() {
                        stockView.style.zIndex = 2;
                        customizeView.style.zIndex = 1;
                        if (option_length > 0) {
                          setTimeout(() => {
                            for(let i=0;i<option_length;i++)
                            {
                              if(i==1 || i==2 || i==3)
                                Driver_Options[1].children[i].style.display = "block";
                              else
                                Driver_Options[1].children[i].style.display = "none";
                              if(Driver_Options[1].children[i].children[0]?.children[0]?.innerHTML.trim() == "Grip")
                                Driver_Options[1].children[i].style.display = "block";
                            }
                          }, 700);
                        }
                      });
                  
                      customizeButton.addEventListener("click", function() {
                        customizeView.style.zIndex = 2;
                        stockView.style.zIndex = 1;
                        if (option_length > 0) {
                            setTimeout(() => {
                              for(let i=0;i<option_length;i++)
                              {
                                if(i==1 || i==3)
                                  Driver_Options[1].children[i].style.display = "none";
                                else
                                  Driver_Options[1].children[i].style.display = "block";
                              }
                          }, 700);
                        }
                      });
                    } else {
                      console.error("One or more elements not found.");
                    }
                  });
                  
                </script>
              {% endif %}
              {% if isCustomWedge or isStockWedge %}
                <script>
                  document.addEventListener("DOMContentLoaded", function() {

                    const stockButton = document.getElementById("stock-button");
                    const customizeButton = document.getElementById("customize-button");
                    const stockView = document.querySelector(".custom-product-btn-stock");
                    const customizeView = document.querySelector(".custom-product-btn-customize");

                    const Driver_Options = document.getElementsByClassName("bold_option_set");
                    let option_length = 0;
                    
                  
                    if (stockButton && customizeButton && stockView && customizeView) {
                      stockView.style.zIndex = 1;
                      customizeView.style.zIndex = 2;
                      setTimeout(() => {
                        option_length = Driver_Options[1].children.length
                        for(let i=0;i<option_length;i++)
                        {
                          if(i>=option_length-4 && i<option_length)
                            Driver_Options[1].children[i].style.display = "none";
                          else
                            Driver_Options[1].children[i].style.display = "block";
                        }                        
                      }, 1000);
                  
                      // Add your click event listeners here
                      stockButton.addEventListener("click", function() {
                        stockView.style.zIndex = 2;
                        customizeView.style.zIndex = 1;
                        if (option_length > 0) {
                          setTimeout(() => {
                            for(let i=0;i<option_length;i++)
                            {
                              if(i>=option_length-4 && i<option_length)
                                Driver_Options[1].children[i].style.display = "block";
                              else
                                Driver_Options[1].children[i].style.display = "none";
                            }   
                          }, 700);
                        }
                      });
                  
                      customizeButton.addEventListener("click", function() {
                        customizeView.style.zIndex = 2;
                        stockView.style.zIndex = 1;
                        if (option_length > 0) {
                            setTimeout(() => {
                              for(let i=0;i<option_length;i++)
                              {
                                if(i>=option_length-4 && i<option_length)
                                  Driver_Options[1].children[i].style.display = "none";
                                else
                                  Driver_Options[1].children[i].style.display = "block";
                              }   
                          }, 700);
                        }
                      });
                    } else {
                      console.error("One or more elements not found.");
                    }
                  });
                  
                </script>
              {% endif %}
                {%- when 'buy-buttons' -%}
                <div class="product-info__block" {{ block.shopify_attributes }}>
                  <product-form>
                    <div
                      class="alert mb-8 bg-error-bg text-error-text js-form-error text-start"
                      role="alert"
                      hidden>
                    </div>
                    {%- form 'product', product, class: 'js-product-form', id: product_form_id, novalidate: 'novalidate' -%}
                      {%- liquid
                    assign enable_dynamic_checkout = false
                    if block.settings.enable_dynamic_checkout and product.selling_plan_groups == empty
                      unless product.template_suffix contains 'preorder'
                        assign enable_dynamic_checkout = true
                      endunless
                    endif
                  -%}

                      <input
                        type="hidden"
                        name="id"
                        value="{{ current_variant.id }}"
                        disabled>
                      <div class="product-info__add-to-cart flex{% if enable_dynamic_checkout %} qty-input--secondary-btn{% endif %} custom-product-quantity-cart">
                        {%- if block.settings.show_qty_selector -%}
                          {% render 'quantity-input-product', layout_style: "combined" %}
                        {%- else -%}
                          <input
                            type="hidden"
                            name="quantity"
                            value="1">
                        {%- endif -%}

                        <div class="product-info__add-button custom-product-cart-button-board">
                          {%- capture add_to_cart_text -%}
                            {%- if product.template_suffix contains 'preorder' -%}
                              {{- 'products.product.preorder' | t -}}
                            {%- else -%}
                              {{- 'products.product.add_to_cart' | t -}}
                            {%- endif -%}
                          {%- endcapture -%}

                          <button
                            type="submit"
                            data-add-to-cart-text="{{ add_to_cart_text | escape }}"
                            class="btn {% if enable_dynamic_checkout %}btn--secondary{% else %}btn--primary{% endif %} w-full custom-product-quantity-cart-button"
                            name="add"
                            {% if current_variant.available == false %}
                            disabled
                            {% endif %}>
                            {%- if current_variant.available -%}
                              {{- add_to_cart_text -}}
                            {%- else -%}
                              {{- 'products.product.sold_out' | t -}}
                            {%- endif -%}
                          </button>
                        </div>
                      </div>

                      {%- if enable_dynamic_checkout -%}
                        {{ form | payment_button }}
                      {%- endif -%}
                    {%- endform -%}
                  </product-form>

                  {%- if block.settings.show_pickup_availability -%}
                    {% render 'pickup-availability', current_variant: current_variant %}
                  {%- endif -%}
                </div>

                {% when 'text' %}
                  {% if isCustomDriver or isGolfShaft or isStockDriver or isCustomIrons or isStockIrons or isCustomWedge or isStockWedge %}
                    <div class="w-full custom-supplementary-product-board">
                      {% assign maxProducts = 3 %}
                      <label class="custom-supplementary-title">{{ block.settings.custom-complementary-title }}</label>
                      <form id="selected-products-form">
                        {% for product in collections['accessories'].products %}
                          {% for tag in product.tags %}
                            {% if tag == collection_name and maxProducts > 0 %}
                              <!-- Start of supplementary product row -->
                              <div class="custom-supplementary-product-row">
                          
                                <div class="custom-supplementary-product-image">
                                  <a href="{{ product.url }}"></a>
                                  <img
                                    src="{{ product.featured_image.src | img_url: 'medium' }}"
                                    width="100%"
                                    alt="{{ product.title }}">
                                </a>
                              </div>
                          
                              <div class="custom-supplementary-product-details">
                                <!-- Display supplementary product information here -->
                                <span class="custom-supplementary-product-title">{{ product.title }}</span>
                                <span class="custom-supplementary-product-price">{{ product.price | money }}</span>
                                <!-- Add other product details as needed -->
                              </div>
                              <div class="custom-supplementary-product-check">
                                <input
                                  type="checkbox"
                                  name="selected-products"
                                  class="custom-supplementary-product-checkbox"
                                  value="{{ product.variants.first.id }}"
                                  >
                              </div>
                            </div>
                            <!-- End of supplementary product row -->
                          
                            {% assign maxProducts = maxProducts | minus: 1 %}
                          {% endif %}
                        {% endfor %}
                      {% endfor %}
                      <button
                        type="button"
                        class="btn--primary custom-supplementary-product-button"
                        id="add-selected-cart"
                        disabled>Add Selected to Cart</button>
                    </form>
                  </div>
                  <script>
                    document.addEventListener("DOMContentLoaded", function() {
                      var checkboxes = document.querySelectorAll(".custom-supplementary-product-checkbox");
                      var addButton = document.getElementById("add-selected-cart");
                      var checkedCheckboxes = [];
                      checkboxes.forEach(function(checkbox) {
                        checkbox.addEventListener("change", function() {
                          checkedCheckboxes = document.querySelectorAll(".custom-supplementary-product-checkbox:checked");
                          if (checkedCheckboxes.length > 0) {
                            addButton.style.backgroundColor = "#4AA359"; // Green background
                            addButton.style.opacity = 1;
                            addButton.disabled = false; // Enable the button
                          } else {
                            addButton.style.backgroundColor = ""; // Reset background color
                            addButton.style.opacity = 0.5;
                            addButton.disabled = true; // Disable the button
                          }
                        });
                      });

                      const shopifyStoreUrl = 'http://jds-clubs.myshopify.com';
                                          
                      // Create an array of objects representing the products to add
                      const productsToAdd = [];
                      addButton.addEventListener("click", () => {
                        checkedCheckboxes.forEach(function(checkbox) {
                            if (checkbox.checked) {
                              productsToAdd.push({
                                variantId: checkbox.value,
                                quantity: 1
                              });
                            }
                          });

                          // Call addToSupplementaryCart after collecting all products
                          if (productsToAdd.length == checkedCheckboxes.length) {
                            addToSupplementaryCart(productsToAdd);
                            setTimeout(() => {
                              location.reload();
                            }, 4000);
                          }
                      });
                                          
                      const addToSupplementaryCart = (products) => {
                        // Shopify add to cart endpoint
                        const addToCartUrl = `${shopifyStoreUrl}/cart/add.js`;
                                          
                        // Create a FormData object to send the parameters
                        const formData = new FormData();
                                          
                        // Add each product to the FormData
                        products.forEach(product => {
                          formData.append('id', product.variantId); // Use 'id' instead of 'items[]'
                          formData.append('quantity', product.quantity);
                          fetch(addToCartUrl, {
                          method: 'POST',
                          body: formData // Send the FormData object directly
                        })
                          .then(response => response.json())
                          .then(data => {
                            console.log('Products added to cart:', data);
                            // Handle success (e.g., update cart icon or show a success message)
                          })
                          .catch(error => {
                            console.error('Error adding products to cart:', error);
                            // Handle errors (e.g., show an error message)
                          })
                        });   
                        
                      }
                    })
                  </script>
                {% endif %}
                

              {%- when 'complementary' -%}
              <div class="product-info__block" {{ block.shopify_attributes }}>
                {%- liquid
                if block.settings.layout == 'carousel'
                  assign grid_classes = 'grid grid-flow-col auto-cols-1 gap-x-theme'
                endif
              -%}
                {%- render 'recommendations'
                  , intent: 'complementary',
                  products_to_show: block.settings.products_to_show,
                  heading: block.settings.heading,
                  layout: block.settings.layout,
                  grid_classes: grid_classes -%}
              </div>

              {%- when 'collapsible-content' -%}
              <details-disclosure {{ block.shopify_attributes }}>
                <details
                  class="disclosure disclosure--row"
                  {% if block.settings.open %}
                  open
                  {% endif %}>
                  <summary>
                    <div class="flex justify-between items-center">
                      <h2 class="disclosure__title product-info__disclosure font-body font-bold text-body flex flex-auto items-center mb-0">
                        {%- if block.settings.icon != 'none' -%}
                          {% render 'icon', icon: block.settings.icon, width: 22, height: 22 %}
                        {%- endif -%}
                        {{- block.settings.heading | default: block.settings.page.title -}}
                      </h2>
                      <span class="disclosure__toggle">
                        {%- if settings.disclosure_toggle == 'plus' -%}
                          {% render 'icon-plus' %}
                        {%- else -%}
                          {% render 'icon-chevron-down' %}
                        {%- endif -%}
                      </span>
                    </div>
                  </summary>
                  <div class="disclosure__panel has-motion">
                    <div class="disclosure__content rte">
                      {{ block.settings.text }}
                      {{ block.settings.page.content }}
                    </div>
                  </div>
                </details>
              </details-disclosure>

              {%- when 'product-signup' -%}
              {%- liquid
              assign show_block = true
              if block.settings.unavailable_only and product.available == true
                assign show_block = false
              endif
            -%}
              {%- if show_block -%}
                <div class="product-info__block product-signup" {{ block.shopify_attributes }}>
                  {%- if block.settings.heading != blank -%}
                    <p class="h6">{{ block.settings.heading | escape }}</p>
                  {%- endif -%}

                  {%- if block.settings.text != blank -%}
                    <div class="rte mb-4">{{ block.settings.text }}</div>
                  {%- endif -%}

                  {%- assign id = "product-signup" -%}
                  {%- form 'contact', id: id, class: 'form' -%}
                    <input
                      type="hidden"
                      name="return_to"
                      value="{{ product.url }}?contact_posted=true">
                    <input
                      type="hidden"
                      name="contact[Message]"
                      value="Customer has completed the product signup form." />
                    <input
                      type="hidden"
                      name="contact[Product]"
                      value="{{ product.id }}" />
                    <input
                      type="hidden"
                      name="contact[Product Title]"
                      value="{{ product.title | escape }}" />

                    <div class="form__field">
                      <label class="label visually-hidden" for="{{ id }}">{{- 'product_signup.label' | t -}}</label>
                      <div class="input-with-button">
                        <input
                          type="email"
                          class="input w-full focus-inset"
                          id="{{ id }}"
                          name="contact[email]"
                          value="{{ form.email }}"
                          placeholder="{{ 'product_signup.placeholder' | t }}"
                          autocomplete="email"
                          {%- if form.posted_successfully? %}
                          aria-describedby="{{ id }}-success"
                          {%- elsif form.errors %}
                          aria-invalid="true"
                          aria-describedby="{{ id }}-error"
                          autofocus
                          {%- endif %}
                          aria-required="true"
                          required>
                        <button class="btn focus-inset has-ltr-icon">
                          <span class="visually-hidden">{{- 'product_signup.button_label' | t -}}</span>
                          {% render 'icon-arrow-right' %}
                        </button>
                      </div>

                      {%- if form.errors -%}
                        <p class="form__field-error" id="{{ id }}-error">
                          {{ form.errors.translated_fields['email'] | capitalize }}
                          {{ form.errors.messages['email'] }}
                        </p>
                      {%- endif -%}
                    </div>

                    {%- if form.posted_successfully? -%}
                      <div
                        class="alert bg-success-bg text-success-text"
                        id="{{ id }}-success"
                        tabindex="-1"
                        autofocus>
                        {{ 'product_signup.success' | t }}
                      </div>
                    {%- endif -%}
                  {%- endform -%}
                </div>

                {% if block.settings.divider %}
                  <hr class="mt-8 mb-8">
                {% endif %}
              {%- endif -%}

              {%- when 'newsletter-signup' -%}
              <div class="product-info__block" {{ block.shopify_attributes }}>
                {%- if block.settings.heading != blank -%}
                  <p class="h6">{{ block.settings.heading | escape }}</p>
                {%- endif -%}

                {%- if block.settings.text != blank -%}
                  <div class="rte mb-4">{{ block.settings.text }}</div>
                {%- endif -%}

                {% render 'newsletter-signup', id: 'product-newsletter-signup', tags: 'product page', arrow_button: true %}
              </div>

              {%- when 'share' -%}
              <div class="product-info__block" {{ block.shopify_attributes }}>
                <div class="social-share flex items-center">
                  <p class="social-share__heading mb-0 font-bold">{{ 'general.social.share_heading' | t }}:</p>
                  {% render 'social-share', share_title: product.title, share_url: product.url, share_image: product %}
                </div>
              </div>

              {%- when 'richtext' -%}
              {%- if block.settings.text != blank -%}
                <div class="product-info__block rte" {{ block.shopify_attributes }}>
                  {% assign Skus = product.variants %}
                  {% assign Tags = product.tags %}
                  <div>
                    <span><b>SKU:</b>
                      {% for variant in Skus %}
                        {{ variant.sku }}{% unless forloop.last %},{% endunless %}
                      {% endfor %}
                    </span>
                  </div>
                  <div>
                    <span><b>Category:</b>
                      {{ collection_name }}
                    </span>
                  </div>
                  <div>
                    <span><b>Tags:</b>
                      {% for tag in Tags %}
                        {{ tag }}{% unless forloop.last %},{% endunless %}
                      {% endfor %}
                    </span>
                  </div>
                  
                </div>
              {%- endif -%}

              {%- when 'image' -%}
              <div class="product-info__block" {{ block.shopify_attributes }}>
                {%- if block.settings.title -%}
                  <p class="h4">{{ block.settings.title }}</p>
                {%- endif -%}

                <div class="flex {{ block.settings.image_align }}">
                  <div class="media relative" style="width: {{ block.settings.image_width }}px;">
                    {% if isCustomDriver or isStockDriver %}
                      {% render 'image'
                       , image: block.settings.image_logo1,
                       src_width: block.settings.image_width,
                       quality: 1,
                       srcset_2x: true %}
                    {% elsif isGolfShaft or isCustomIrons or isStockIrons %}
                      {% render 'image'
                       , image: block.settings.image_logo2,
                       src_width: block.settings.image_width,
                       quality: 1,
                       srcset_2x: true %}
                    {% elsif isCustomWedge or isStockWedge %}
                      {% render 'image'
                       , image: block.settings.image_logo3,
                       src_width: block.settings.image_width,
                       quality: 1,
                       srcset_2x: true %}
                    {% endif %}
                  </div>
                </div>
              </div>

              {%- when 'pop-up' -%}
              <div class="product-info__block" {{ block.shopify_attributes }}>
                <modal-opener class="no-js-hidden" data-modal="modal-{{ block.id }}">
                  <button
                    type="button"
                    class="{{ block.settings.link_style }}"
                    aria-haspopup="dialog">
                    {{- block.settings.link_text -}}
                  </button>
                </modal-opener>
                <a href="{{ block.settings.page.url }}" class="link js-hidden">{{ block.settings.link_text }}</a>
              </div>

              {%- when 'custom-liquid' -%}
              <div class="product-info__block" {{ block.shopify_attributes }}>
                {{ block.settings.custom_liquid }}
              </div>

              {%- when 'divider' -%}
              <hr class="{{ block.settings.spacing }}{% unless block.settings.show_line %} invisible{% endunless %}" {{ block.shopify_attributes }}>

              {%- when 'message' -%}
              {%- if block.settings.title != blank and block.settings.show_over_media == false -%}
                <product-message
                  class="product-message product-message--info product-message--out has-motion relative"
                  style="--bg-color: {{ block.settings.bg_color }};--text-color: {{ block.settings.text_color }};"
                  {{ block.shopify_attributes }}
                  {% if block.settings.close == "persistent" %}data-persistent-close="true"{% endif %}
                  data-block-id="{{ block.id }}">
                  <div class="product-message__inner">
                    {%- if block.settings.icon != 'none' -%}
                      {% render 'icon', icon: block.settings.icon, width: 32, height: 32 %}
                    {%- endif -%}

                    <div class="rte rte--inherit-heading-color">{{ block.settings.title }}</div>

                    {%- if block.settings.close != "none" -%}
                      <button type="button" class="product-message__close tap-target text-current js-close-message">
                        <span class="visually-hidden">{{ 'accessibility.close' | t }}</span>
                        {% render 'icon-close' %}
                      </button>
                    {%- endif -%}
                  </div>
                </product-message>
              {%- endif -%}

              {%- when 'description' -%}
              <div class="product-info__block product-info__block--sm rte product-description" {{ block.shopify_attributes }}>
                {{ product.description }}
              </div>

              {%- when 'product-labels' -%}
              {%- capture variant_labels -%}
                {%- for variant in product.variants -%}
                  {%- liquid
                  assign variant_label = blank
                  capture variant_label
                    render 'product-label', product: product, variant: variant, is_product_card: false, limit: 99
                  endcapture
                -%}
                  {%- if variant_label != blank -%}
                    <div
                      class="variant-label js-variant-label"
                      hidden
                      data-variant-id="{{ variant.id }}">
                      {{ variant_label }}
                    </div>
                  {%- endif -%}
                {%- endfor -%}
              {%- endcapture -%}

              {%- if variant_labels != blank -%}
                <variant-label class="block product-info__block product-info__block--sm" data-current-variant-id="{{ current_variant.id }}">
                  {{ variant_labels }}
                </variant-label>
                <script src="{{ 'variant-label.js' | asset_url }}" defer="defer"></script>
              {%- endif -%}

            {%- endcase -%}
          {%- endfor -%}

          {%- if section.settings.stick_on_scroll -%}
          </div>
        </sticky-scroll-direction>
      {%- endif -%}
    </div>
  </div>
</div>

{%- render 'product-popups' -%}

{%- if section.settings.sticky_atc_panel and product.available -%}
  <link
    rel="stylesheet"
    href="{{ 'sticky-atc-panel.css' | asset_url }}"
    media="print"
    onload="this.media='all'">
  <script src="{{ 'sticky-atc-panel.js' | asset_url }}" defer="defer"></script>

  <sticky-atc-panel class="sticky-atc-panel sticky-atc-panel--out fixed bottom-0 {{ section.settings.sticky_atc_position }} invisible{% if section.settings.sticky_atc_mobile == false %} hidden md:block{% endif %}">
    <div class="card card--row card--related card--sticky-atc relative flex items-center">
      {%- if product.featured_media -%}
        <div class="card__media{% if settings.blend_product_images %} image-blend{% endif %}">
          {%- liquid
            assign image_width = 44
            if product.featured_media.preview_image.aspect_ratio >= 1
              assign image_width = 56
            endif
          -%}
          {% render 'image', image: product.featured_media.preview_image, src_width: image_width, srcset_2x: true %}
        </div>
      {%- endif -%}

      <div class="card__info">
        <p class="sticky-atc-panel__heading h6 regular-text text-current">
          {{ product.title | escape | truncate: 70 }}
        </p>

        {%- render 'price', product: product -%}
      </div>

      
      <div class="card__buttons">
        {%- liquid
          if has_variant_picker
            assign anchor = "variants"
          else
            assign anchor = "product-info"
          endif
        -%}
        {%- if product.has_only_default_variant -%}
          <a
            href="#{{ anchor }}"
            rel="nofollow"
            class="btn btn--secondary btn--sm">
            {{- 'products.product.view_details' | t -}}
          </a>
        {%- else -%}
          <a
            class="btn btn--secondary btn--sm"
            href="#{{ anchor }}"
            rel="nofollow">
            {{- 'products.product.choose_options' | t -}}
          </a>
        {%- endif -%}
      </div>
    </div>
  </sticky-atc-panel>
{%- endif -%}

{%- if first_3d_model -%}
  <script type="application/json" id="product-json-{{ product.id }}">
    {{ product.media | where: 'media_type', 'model' | json }}
  </script>
{%- endif -%}

{% render 'structured-data-product', product: product, current_variant: current_variant %}

{% schema %}
  {
    "name": "Product",
    "class": "cc-main-product product-main",
    "settings": [
      {
        "type": "checkbox",
        "id": "stick_on_scroll",
        "label": "Stick product info on scroll",
        "info": "Applies to large screens only.",
        "default": true
      },
      {
        "type": "header",
        "content": "Sticky 'Add to cart' prompt"
      },
      {
        "type": "paragraph",
        "content": "Shows a small prompt to scroll the page back to the product form."
      },
      {
        "type": "checkbox",
        "id": "sticky_atc_panel",
        "label": "Enable sticky 'Add to cart' prompt",
        "default": false
      }, {
        "type": "select",
        "id": "sticky_atc_position",
        "label": "Position on large screens",
        "options": [
          {
            "value": "start",
            "label": "Left"
          }, {
            "value": "sticky-atc-panel--center",
            "label": "Center"
          }, {
            "value": "end",
            "label": "Right"
          }
        ],
        "default": "end"
      }, {
        "type": "checkbox",
        "id": "sticky_atc_mobile",
        "label": "Show on mobile",
        "default": true
      }, {
        "type": "header",
        "content": "Media"
      }, {
        "type": "paragraph",
        "content": "Learn more about [media types](https://help.shopify.com/en/manual/products/product-media)"
      }, {
        "type": "select",
        "id": "media_layout",
        "label": "Layout on large screens",
        "info": "Stacked works best when all the product images are the same size. Mobile will always display a slider.",
        "options": [
          {
            "value": "stacked",
            "label": "Stacked"
          }, {
            "value": "slider",
            "label": "Slider"
          }
        ],
        "default": "slider"
      }, {
        "type": "select",
        "id": "media_size",
        "label": "Media width",
        "info": "Media will be full width on mobile.",
        "options": [
          {
            "value": "default",
            "label": "Medium"
          }, {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "default"
      }, {
        "type": "select",
        "id": "media_ratio",
        "label": "Media aspect ratio",
        "info": "Natural should only be used when images are the same dimensions.",
        "options": [
          {
            "value": "natural",
            "label": "Natural"
          },
          {
            "value": "1.33",
            "label": "Landscape (4:3)"
          },
          {
            "value": "1.77",
            "label": "Landscape (16:9)"
          },
          {
            "value": "1",
            "label": "Square"
          }, {
            "value": "0.75",
            "label": "Portrait"
          }
        ],
        "default": "1"
      }, {
        "type": "select",
        "id": "media_crop",
        "label": "Media crop",
        "info": "Only applies if the \"Media Shape\" is not \"Natural\".",
        "options": [
          {
            "value": "none",
            "label": "None"
          }, {
            "value": "top",
            "label": "Top"
          }, {
            "value": "center",
            "label": "Center"
          }
        ],
        "default": "none"
      }, {
        "type": "select",
        "id": "hover_zoom",
        "label": "Zoom on hover",
        "info": "Only applies on large screens and when the original image is large enough.",
        "default": "large",
        "options": [
          {
            "value": "off",
            "label": "Off"
          }, {
            "value": "medium",
            "label": "Medium"
          }, {
            "value": "large",
            "label": "Large"
          }, {
            "value": "original",
            "label": "Original image"
          }
        ]
      }, {
        "type": "checkbox",
        "id": "enable_video_looping",
        "label": "Enable video looping",
        "default": false
      }, {
        "type": "header",
        "content": "Stacked Layout"
      }, {
        "type": "radio",
        "id": "stacked_scroll",
        "label": "Scroll to variant media",
        "options": [
          {
            "value": "never",
            "label": "Never"
          }, {
            "value": "change",
            "label": "When the variant is changed"
          }, {
            "value": "always",
            "label": "When the variant is changed or the page loads"
          }
        ],
        "default": "always"
      }, {
        "type": "checkbox",
        "id": "underline_active",
        "label": "Underline active media",
        "default": true
      }, {
        "type": "header",
        "content": "Slider Layout"
      }, {
        "type": "select",
        "id": "media_thumbs",
        "label": "Show thumbnails",
        "options": [
          {
            "value": "never",
            "label": "Never"
          }, {
            "value": "desktop",
            "label": "Large screens only"
          }, {
            "value": "always",
            "label": "Always"
          }
        ],
        "default": "desktop"
      }, {
        "type": "select",
        "id": "thumb_ratio",
        "label": "Thumbnail shape",
        "options": [
          {
            "value": "natural",
            "label": "Natural"
          }, {
            "value": "1.33",
            "label": "Landscape"
          }, {
            "value": "1",
            "label": "Square"
          }, {
            "value": "0.75",
            "label": "Portrait"
          }
        ],
        "default": "1"
      }, {
        "type": "select",
        "id": "thumb_crop",
        "info": "Only applies if the \"Thumbnail shape\" is not \"Natural\"",
        "label": "Thumb crop",
        "options": [
          {
            "value": "none",
            "label": "None"
          }, {
            "value": "top",
            "label": "Top"
          }, {
            "value": "center",
            "label": "Center"
          }
        ],
        "default": "none"
      }, {
        "type": "select",
        "id": "media_arrows",
        "label": "Show arrows",
        "options": [
          {
            "value": "never",
            "label": "Never"
          }, {
            "value": "mobile",
            "label": "Mobile only"
          }, {
            "value": "desktop",
            "label": "Large screens only"
          }, {
            "value": "always",
            "label": "Always"
          }
        ],
        "default": "desktop"
      }, {
        "type": "checkbox",
        "id": "show_slide_count",
        "label": "Show slide count",
        "default": true
      }, {
        "type": "header",
        "content": "Colors"
      }, {
        "type": "color",
        "id": "border_color",
        "label": "Media border",
        "info": "Set to transparent to remove",
        "default": "transparent"
      }, {
        "type": "color",
        "id": "bg_color",
        "label": "Media background",
        "info": "When using 'Blend product images' (Theme Settings > Colors > Color blending), the color specified there will override this.",
        "default": "#f4f4f4"
      }, {
        "type": "header",
        "content": "Multiple variant images"
      }, {
        "type": "checkbox",
        "id": "enable_media_grouping",
        "label": "Show media only associated with the selected variant",
        "info": "Other variants' media will be hidden",
        "default": false
      }, {
        "type": "text",
        "id": "media_grouping_option",
        "label": "Variant option label",
        "info": "The label used to switch between images",
        "default": "Color,Colour,Couleur,Farbe"
      }, {
        "type": "paragraph",
        "content": "If your store displays multiple languages, include all translations separated by a comma, e.g. Color,Couleur,Farbe"
      }, {
        "type": "paragraph",
        "content": "Arrange product media by this option (all 'red' media together, then all 'blue' media together, for example). The first media in each group should be assigned to a variant. [Read more](https://cleancanvas.co.uk/support/enterprise/settings/grouped-variant-images)"
      }
    ],
    "blocks": [
      {
        "type": "@app"
      },
      {
        "type": "custom-product-top1",
        "name": "Product Top 1",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title Top1"
          }
        ]
      },
      {
        "type": "custom-product-top2",
        "name": "Product Top 2",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title Top2"
          }
        ]
      },
      {
        "type": "custom-product-switch",
        "name": "Product Switch",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title Switch"
          }
        ]
      }, {
        "type": "buy-buttons",
        "name": "Buy buttons",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "show_qty_selector",
            "label": "Show quantity selector",
            "default": true
          }, {
            "type": "checkbox",
            "id": "enable_dynamic_checkout",
            "label": "Show dynamic checkout button",
            "info": "Using the payment methods available on your store, customers see their preferred option, like PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
            "default": true
          }, {
            "type": "checkbox",
            "id": "show_pickup_availability",
            "label": "Show pickup availability",
            "info": "Show customers where they can pick up the product. [Learn more](https://help.shopify.com/en/manual/shipping/setting-up-and-managing-your-shipping/local-methods/local-pickup)",
            "default": true
          }
        ]
      }, {
        "type": "collapsible-content",
        "name": "Collapsible content",
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Collapsible content"
          },
          {
            "type": "select",
            "id": "icon",
            "label": "Icon",
            "options": [
              {
                "value": "none",
                "label": "None"
              },
              {
                "value": "award",
                "label": "Award"
              },
              {
                "value": "box",
                "label": "Box"
              },
              {
                "value": "briefcase",
                "label": "Briefcase"
              }, {
                "value": "calendar",
                "label": "Calendar"
              }, {
                "value": "chat_bubble",
                "label": "Chat bubble"
              }, {
                "value": "check_mark",
                "label": "Check mark"
              }, {
                "value": "check_mark_in_circle",
                "label": "Check mark in circle"
              }, {
                "value": "clock",
                "label": "Clock"
              }, {
                "value": "credit_card",
                "label": "Credit card"
              }, {
                "value": "dollar_sign",
                "label": "Dollar sign"
              }, {
                "value": "dryer",
                "label": "Dryer"
              }, {
                "value": "eye",
                "label": "Eye"
              }, {
                "value": "feather",
                "label": "Feather"
              }, {
                "value": "gift",
                "label": "Gift"
              }, {
                "value": "heart",
                "label": "Heart"
              }, {
                "value": "iron",
                "label": "Iron"
              }, {
                "value": "leaf",
                "label": "Leaf"
              }, {
                "value": "leather",
                "label": "Leather"
              }, {
                "value": "lock",
                "label": "Lock"
              }, {
                "value": "map_pin",
                "label": "Map pin"
              }, {
                "value": "pants",
                "label": "Pants"
              }, {
                "value": "percent",
                "label": "Percent"
              }, {
                "value": "plane",
                "label": "Plane"
              }, {
                "value": "price_tag",
                "label": "Price tag"
              }, {
                "value": "question_mark",
                "label": "Question mark"
              }, {
                "value": "return",
                "label": "Return"
              }, {
                "value": "ruler",
                "label": "Ruler"
              }, {
                "value": "scissors",
                "label": "Scissors"
              }, {
                "value": "shirt",
                "label": "Shirt"
              }, {
                "value": "shoe",
                "label": "Shoe"
              }, {
                "value": "silhouette",
                "label": "Silhouette"
              }, {
                "value": "star",
                "label": "Star"
              }, {
                "value": "truck",
                "label": "Truck"
              }, {
                "value": "washing",
                "label": "Washing"
              }
            ],
            "default": "none"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Content"
          },
          {
            "type": "page",
            "id": "page",
            "label": "Content from page"
          }, {
            "type": "checkbox",
            "id": "open",
            "label": "Open by default",
            "default": false
          }
        ]
      }, {
        "type": "custom-liquid",
        "name": "Custom Liquid",
        "settings": [
          {
            "type": "liquid",
            "id": "custom_liquid",
            "label": "Custom Liquid"
          }
        ]
      }, {
        "type": "divider",
        "name": "Divider",
        "settings": [
          {
            "type": "checkbox",
            "id": "show_line",
            "label": "Show line",
            "default": true
          }, {
            "type": "radio",
            "id": "spacing",
            "label": "Spacing",
            "options": [
              {
                "value": "mt-8 mb-8",
                "label": "Default"
              }, {
                "value": "mt-12 mb-12",
                "label": "Large"
              }
            ],
            "default": "mt-8 mb-8"
          }
        ]
      }, {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading"
          },
          {
            "type": "image_picker",
            "id": "image_logo1",
            "label": "Image1"
          },
          {
            "type": "image_picker",
            "id": "image_logo2",
            "label": "Image2"
          },
          {
            "type": "image_picker",
            "id": "image_logo3",
            "label": "Image3"
          }, {
            "type": "range",
            "id": "image_width",
            "min": 40,
            "max": 200,
            "step": 10,
            "unit": "px",
            "label": "Width",
            "default": 70
          }, {
            "type": "select",
            "id": "image_align",
            "label": "Alignment",
            "options": [
              {
                "value": "justify-start",
                "label": "Left"
              }, {
                "value": "justify-center",
                "label": "Center"
              }, {
                "value": "justify-end",
                "label": "Right"
              }
            ],
            "default": "justify-start"
          }, {
            "type": "url",
            "id": "url",
            "label": "Link"
          }
        ]
      }, {
        "type": "inventory-status",
        "name": "Inventory status",
        "limit": 1,
        "settings": [
          {
            "type": "paragraph",
            "content": "Inventory colors and thresholds can be changed in \"Theme Settings > Product Inventory\"."
          },
          {
            "type": "checkbox",
            "id": "show_indicator_bar",
            "label": "Show inventory indicator bar",
            "default": true
          },
          {
            "type": "header",
            "content": "Urgency messages"
          },
          {
            "type": "checkbox",
            "id": "show_urgency_message",
            "label": "Show urgency message",
            "default": true
          }, {
            "type": "richtext",
            "id": "text_very_low",
            "label": "Text when inventory is very low",
            "default": "<p>- Almost gone!</p>"
          }, {
            "type": "richtext",
            "id": "text_low",
            "label": "Text when inventory is low",
            "default": "<p>- Hurry while stocks last!</p>"
          }, {
            "type": "richtext",
            "id": "text_normal",
            "label": "Text when inventory is normal"
          }, {
            "type": "richtext",
            "id": "text_no_stock",
            "label": "Text when out of stock"
          }
        ]
      }, {
        "type": "product-signup",
        "name": "Product sign-up",
        "limit": 1,
        "settings": [
          {
            "type": "paragraph",
            "content": "You will receive an email every time someone fills in this form."
          },
          {
            "type": "checkbox",
            "id": "unavailable_only",
            "label": "Only show when the product is not available",
            "info": "For example, when all variants have 0 stock. Note, email alerts will NOT be automatically sent to the customer when the product becomes available - you will need to do this.",
            "default": false
          },
          {
            "type": "text",
            "id": "heading",
            "label": "Heading"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Sign up to be the first to know when it's here</p>"
          }, {
            "type": "checkbox",
            "id": "divider",
            "label": "Show dividing line below",
            "default": false
          }
        ]
      }, {
        "type": "newsletter-signup",
        "name": "Newsletter sign-up",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Subscribe to our newsletter"
          }, {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Sign up for exclusive offers.</p>"
          }, {
            "type": "paragraph",
            "content": "Customers who subscribe will have an account created for them. [Learn more](https://help.shopify.com/en/manual/customers/manage-customers)"
          }
        ]
      }, {
        "type": "pop-up",
        "name": "Pop-up",
        "settings": [
          {
            "type": "text",
            "id": "link_text",
            "label": "Link text",
            "default": "Pop-up link"
          }, {
            "type": "select",
            "id": "link_style",
            "label": "Link style",
            "options": [
              {
                "value": "link",
                "label": "Link"
              }, {
                "value": "btn btn--primary",
                "label": "Primary button"
              }, {
                "value": "btn btn--secondary",
                "label": "Secondary button"
              }
            ],
            "default": "link"
          }, {
            "type": "richtext",
            "id": "text",
            "label": "Content"
          }, {
            "id": "page",
            "type": "page",
            "label": "Content from page"
          }
        ]
      }, {
        "type": "price",
        "name": "Price",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "show_tax_and_shipping",
            "label": "Show tax and shipping information",
            "default": true
          }
        ]
      }, {
        "type": "rating",
        "name": "Product rating",
        "limit": 1,
        "settings": [
          {
            "type": "paragraph",
            "content": "To display a rating, add a product rating app. [Learn more](https://help.shopify.com/en/manual/online-store/themes/theme-structure/theme-features#featured-product-rating)"
          }
        ]
      }, {
        "type": "text",
        "name": "Custom Complementary",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "custom-complementary-title",
            "label": "title",
            "default": "DON'T FORGET"
          }
        ]
      }, {
        "type": "complementary",
        "name": "Complementary products",
        "limit": 1,
        "settings": [
          {
            "type": "paragraph",
            "content": "To select complementary products, add the Search & Discovery app. [Learn more](https://help.shopify.com/manual/online-store/search-and-discovery/product-recommendations)"
          }, {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Goes well with"
          }, {
            "type": "range",
            "id": "products_to_show",
            "min": 1,
            "max": 10,
            "step": 1,
            "default": 4,
            "label": "Maximum products to show",
            "info": "Out of stock products will not be shown."
          }, {
            "type": "radio",
            "id": "layout",
            "label": "Layout",
            "options": [
              {
                "value": "carousel",
                "label": "Carousel"
              }, {
                "value": "list",
                "label": "List"
              }
            ],
            "default": "carousel"
          }
        ]
      }, {
        "type": "richtext",
        "name": "Rich text",
        "settings": [
          {
            "type": "richtext",
            "id": "text",
            "label": "Rich text"
          }
        ]
      }, {
        "type": "share",
        "name": "Share",
        "limit": 1
      }, {
        "type": "title",
        "name": "Title",
        "limit": 1
      }, {
        "type": "variant-picker",
        "name": "Variant picker",
        "limit": 1,
        "settings": [
          {
            "type": "select",
            "id": "selector_style",
            "label": "Selector style",
            "info": "Swatches may not show as a dropdown, depending on the settings in Theme Settings > Swatches > Variant pickers.",
            "options": [
              {
                "value": "buttons",
                "label": "Buttons"
              }, {
                "value": "dropdown",
                "label": "Dropdown"
              }
            ],
            "default": "buttons"
          },
          {
            "type": "checkbox",
            "id": "enable_dynamic_availability",
            "label": "Show availability in selectors",
            "default": true,
            "info": "Availability of variants will be shown in option selectors and update each time one is changed."
          },
          {
            "type": "checkbox",
            "id": "show_backorder_text",
            "label": "Show backorder text",
            "info": "Only shows for products which use Shopify inventory tracking and are available to purchase when out of stock.",
            "default": true
          },
          {
            "type": "header",
            "content": "Size chart"
          }, {
            "type": "checkbox",
            "id": "enable_size_chart",
            "label": "Enable size chart",
            "default": false
          }, {
            "type": "text",
            "id": "size_chart_variant",
            "label": "Option name",
            "info": "The label to show the link beside.",
            "default": "Size"
          }, {
            "type": "page",
            "id": "size_chart_page",
            "label": "Page containing the size chart."
          }
        ]
      }, {
        "type": "vendor-sku",
        "name": "Vendor / SKU",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "show_vendor",
            "label": "Show vendor",
            "default": true
          }, {
            "type": "checkbox",
            "id": "show_sku",
            "label": "Show SKU",
            "default": true
          }
        ]
      }, {
        "type": "message",
        "name": "Flash message",
        "settings": [
          {
            "type": "select",
            "id": "icon",
            "label": "Icon",
            "options": [
              {
                "value": "none",
                "label": "None"
              },
              {
                "value": "award",
                "label": "Award"
              },
              {
                "value": "box",
                "label": "Box"
              },
              {
                "value": "briefcase",
                "label": "Briefcase"
              }, {
                "value": "calendar",
                "label": "Calendar"
              }, {
                "value": "chat_bubble",
                "label": "Chat bubble"
              }, {
                "value": "check_mark",
                "label": "Check mark"
              }, {
                "value": "check_mark_in_circle",
                "label": "Check mark in circle"
              }, {
                "value": "clock",
                "label": "Clock"
              }, {
                "value": "credit_card",
                "label": "Credit card"
              }, {
                "value": "dollar_sign",
                "label": "Dollar sign"
              }, {
                "value": "dryer",
                "label": "Dryer"
              }, {
                "value": "eye",
                "label": "Eye"
              }, {
                "value": "feather",
                "label": "Feather"
              }, {
                "value": "gift",
                "label": "Gift"
              }, {
                "value": "heart",
                "label": "Heart"
              }, {
                "value": "iron",
                "label": "Iron"
              }, {
                "value": "leaf",
                "label": "Leaf"
              }, {
                "value": "leather",
                "label": "Leather"
              }, {
                "value": "lock",
                "label": "Lock"
              }, {
                "value": "map_pin",
                "label": "Map pin"
              }, {
                "value": "pants",
                "label": "Pants"
              }, {
                "value": "percent",
                "label": "Percent"
              }, {
                "value": "plane",
                "label": "Plane"
              }, {
                "value": "price_tag",
                "label": "Price tag"
              }, {
                "value": "question_mark",
                "label": "Question mark"
              }, {
                "value": "return",
                "label": "Return"
              }, {
                "value": "ruler",
                "label": "Ruler"
              }, {
                "value": "scissors",
                "label": "Scissors"
              }, {
                "value": "shirt",
                "label": "Shirt"
              }, {
                "value": "shoe",
                "label": "Shoe"
              }, {
                "value": "silhouette",
                "label": "Silhouette"
              }, {
                "value": "star",
                "label": "Star"
              }, {
                "value": "truck",
                "label": "Truck"
              }, {
                "value": "washing",
                "label": "Washing"
              }
            ],
            "default": "none"
          },
          {
            "type": "richtext",
            "id": "title",
            "label": "Message",
            "default": "<p>Product message</p>",
            "info": "Use metafields to have different messages per product. [Read more](https://cleancanvas.co.uk/support/enterprise/settings/custom-product-message)"
          },
          {
            "type": "select",
            "id": "close",
            "label": "Close button",
            "options": [
              {
                "value": "none",
                "label": "Not visible"
              }, {
                "value": "once",
                "label": "Close this message"
              }, {
                "value": "persistent",
                "label": "Close this message forever"
              }
            ],
            "default": "once"
          },
          {
            "type": "checkbox",
            "id": "show_over_media",
            "label": "Show over media",
            "default": false
          }, {
            "type": "range",
            "id": "visibility_duration",
            "min": 3,
            "max": 15,
            "step": 1,
            "unit": "s",
            "label": "Seconds to show message",
            "info": "Only applies when the message shows over media.",
            "default": 7
          }, {
            "type": "header",
            "content": "Style"
          }, {
            "type": "color",
            "id": "bg_color",
            "label": "Background",
            "default": "#e4edfa"
          }, {
            "type": "color",
            "id": "text_color",
            "label": "Text",
            "default": "#1a66d2"
          }
        ]
      }, {
        "type": "description",
        "name": "Description",
        "limit": 1
      }, {
        "type": "product-labels",
        "name": "Product labels",
        "limit": 1,
        "settings": [
          {
            "type": "paragraph",
            "content": "See settings in \"Theme Settings > Product labels\"."
          }
        ]
      }
    ]
  }
{% endschema %}