<div id="{{ section.id }}">
  <div class="container">
    <div class="reading-width rte text-center">
      {%- if section.settings.heading != blank -%}
        <h2 class="h1">{{ section.settings.heading | escape }}</h2>
      {%- endif -%}
      {%- if shop.password_message != blank -%}
        <p>{{ shop.password_message }}</p>
      {%- endif -%}
      {%- if section.settings.text != blank -%}
        {{ section.settings.text }}
      {%- endif -%}
    </div>

    {%- if section.settings.show_signup -%}
      {%- form 'customer', class: 'form form-width mt-section mx-auto' -%}
        <input type="hidden" name="contact[tags]" value="prospect, newsletter, password page">

        {%- if section.settings.signup_heading != blank -%}
          <h2 class="h4 text-center">{{ section.settings.signup_heading | escape }}</h2>
        {%- endif -%}

        {%- if form.posted_successfully? -%}
          <div class="alert mb-8 bg-success-bg text-success-text" id="pwd-signup-success" tabindex="-1" autofocus>
            {{ 'templates.password.signup_form.success' | t }}
          </div>
        {%- endif -%}

        <div class="form__field required">
          <label class="label visually-hidden" for="pwd-signup-email">
            {{- 'templates.password.signup_form.email_label' | t -}}
          </label>
          <div class="input-with-button input-with-button--md-up">
            <input type="email"
                   class="input w-full"
                   id="pwd-signup-email"
                   name="contact[email]"
                   value="{{ form.email }}"
                   placeholder="{{ 'templates.password.signup_form.email_placeholder' | t }}"
                   autocomplete="email"
                    {%- if form.posted_successfully? %}
                      aria-describedby="pwd-signup-success"
                    {% elsif form.errors %}
                      autofocus
                      aria-invalid="true"
                      aria-describedby="pwd-signup-error"
                    {%- endif %}
                   aria-required="true"
                   required>
            <button class="btn btn--primary" name="commit">
              {{ 'templates.password.signup_form.submit' | t }}
            </button>
          </div>
          {%- if form.errors -%}
            <p class="form__field-error" id="pwd-signup-error">
              {{ form.errors.translated_fields['email'] | capitalize }}
              {{ form.errors.messages['email'] }}
            </p>
          {%- endif -%}
        </div>
      {%- endform -%}
    {%- endif -%}

    {%- if section.settings.show_social -%}
      <div class="password-social text-center mt-section">
        {% render 'social-media', icon: settings.social_custom_icon, class: 'justify-center' %}
      </div>
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "Password page",
  "class": "cc-main-password section section--template",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Opening soon"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "header",
      "content": "Newsletter"
    },
    {
      "type": "paragraph",
      "content": "Customers who subscribe will have an account created for them. [Learn more](https://help.shopify.com/en/manual/customers/manage-customers)"
    },
    {
      "type": "checkbox",
      "id": "show_signup",
      "label": "Show newsletter sign-up",
      "default": true
    },
    {
      "type": "text",
      "id": "signup_heading",
      "label": "Heading",
      "default": "Find out when we open"
    },
    {
      "type": "header",
      "content": "Social links"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "label": "Show social media links",
      "info": "Add links to your social media accounts in theme settings.",
      "default": true
    }
  ]
}
{% endschema %}
